.character-info {
    width: 100%;
    max-width: 60rem;
    max-height: min(800px, 90vh);
    height: 100%;
    position: relative;
    background-position: top left;
    background-repeat: no-repeat;
    background-color: var(--background);

    > * {
        position: relative;
        z-index: 1;
    }

    .character-info-cover {
        position: absolute;
        inset: 0;
        z-index: 0;

        &.amarr-cover {
            background-image: url('/images/character-info-amarr-cover.jpg');
        }
    
        &.minmatar-cover {
            background-image: url('/images/character-info-minmatar-cover.jpg');
        }
    
        &.caldari-cover {
            background-image: url('/images/character-info-caldari-cover.jpg');
        }

        &.gallente-cover {
            background-image: url('/images/character-info-gallente-cover.jpg');
        }

        &:before {
            content: ' ';
            inset: 0;
            position: absolute;
            background-image: linear-gradient(
                to bottom,
                hsla(0, 0%, 7%, 0) 0%,
                hsla(0, 0%, 7%, 0.187) 9.8%,
                hsla(0, 0%, 7%, 0.349) 19.6%,
                hsla(0, 0%, 7%, 0.488) 29.2%,
                hsla(0, 0%, 7%, 0.606) 38.6%,
                hsla(0, 0%, 7%, 0.704) 47.7%,
                hsla(0, 0%, 7%, 0.784) 56.4%,
                hsla(0, 0%, 7%, 0.848) 64.5%,
                hsla(0, 0%, 7%, 0.898) 72.1%,
                hsla(0, 0%, 7%, 0.936) 78.9%,
                hsla(0, 0%, 7%, 0.963) 85%,
                hsla(0, 0%, 7%, 0.981) 90.1%,
                hsla(0, 0%, 7%, 0.992) 94.3%,
                hsla(0, 0%, 7%, 0.998) 97.4%,
                hsl(0, 0%, 7%) 99.3%,
                hsl(0, 0%, 7%) 100%
            );
        }
    }

    /*> img {
        position: fixed;
        top: 0;
        right: 0;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }*/
}