:root {
    --fleet-yellow:     #f1d9a0;
    --fleet-red:        #b53620;
    --alliance-blue:    #2051B5;
    --militia-purple:   #7342B2;
    --green:            #198754;
    --black:            #121212;

    --tech-i:           #bbb;
    --tech-ii:          #9e6100;
    --storyline:        #426e18;
    --faction:          #084505;
    --officer:          #310674;
    --deadspace:        #24458c;
    --tech-iii:         #a03700;
    --abyssal:          #881a1a;

    --security-status-1:        #2e74de;
    --security-status-point-9:  #3a9ced;
    --security-status-point-8:  #4bcef4;
    --security-status-point-7:  #65d8a6;
    --security-status-point-6:  #71e452;
    --security-status-point-5:  #eeff85;
    --security-status-point-4:  #df6a0d;
    --security-status-point-3:  #ce450d;
    --security-status-point-2:  #bb1013;
    --security-status-point-1:  #6d2122;
    --security-status-null:     #8f2f69;

    --foreground:               var(--fleet-yellow);
    --background:               black;
    --component-background:     rgb(25, 25, 25);
    --highlight:                white;
    --faded:                    rgba(255, 255, 255, 0.7);

    --form-color:           var(--fleet-yellow);
    --button-color:         var(--fleet-yellow);
    --border-color:         rgb(255, 255, 255, 0.05);
    --border-color-hover:   rgb(255, 255, 255, 0.1);
}