:root {
    --minmatar: 'Norwester', sans-serif;
    --montserrat: 'Montserrat Variable', sans-serif;
    --qahiri: 'Qahiri', sans-serif;

    --heading-font: var(--minmatar);
    --button-font: var(--montserrat);
    --badge-font: var(--minmatar);
    --tag-font: var(--minmatar);
    --countdown-font: var(--qahiri);
    --default-font: var(--montserrat);
    --content-font: var(--montserrat);
}