:root {
    --max-content-width: 1920px;
    --max-text-width: 60rem;
    --max-landing-width: 49rem;
    --max-video-description-width: 60rem;
    --max-col-width: 70rem;

    --component-padding-block: var(--space-l);
    --component-block-gap: var(--component-padding-block);

    --sticky-top: 156px;
}