API_URL="https://api.minmatar.org"
APP_URL="https://my.minmatar.org"
DATETIME_FORMAT = '{"weekday":"short","year":"numeric","month":"short","day":"numeric","hour":"numeric","hourCycle":"h23","minute":"2-digit"}'