version: '2.0'

services:
    app:
        build:
            context: ./backend/.
            dockerfile: Dockerfile
        working_dir: /opt/minmatar
        command: ./app-start.sh
        env_file:
            - .env
        ports:
            - "8020:8000"

    bot:
        build:
            context: ./bot/.
            dockerfile: Dockerfile
        working_dir: /opt/bot
        command: python3 main.py
        env_file:
            - bot/.env

    beat:
        build:
            context: ./backend/.
            dockerfile: Dockerfile
        restart: always
        env_file: .env
        command: celery -A app beat -l info
        depends_on:
            - app

    celery:
        build:
            context: ./backend/.
            dockerfile: Dockerfile
        restart: always
        env_file: .env
        command: celery -A app worker -l info
        depends_on:
            - app

    frontend:
        build:
            context: ./frontend/
            dockerfile: Dockerfile
        depends_on:
            - app
        env_file:
            - frontend/.env
        ports:
            - "4321:4321"
        volumes:
            - "./frontend/app/src/data:/app/src/data"

    redis:
        image: redis:6.0.9-alpine
        volumes:
            - "redis:/var/lib/redis"
            - "redis:/data"

    mumble_murmur:
        image: mumblevoip/mumble-server:v1.4.230-6
        hostname: murmur
        restart: on-failure
        volumes:
            - murmur_data:/data
            - ./mumble/murmur/murmur.ini:/data/murmur.ini
        environment:
            - MUMBLE_CUSTOM_CONFIG_FILE=/data/murmur.ini
            - MUMBLE_VERBOSE=true
        ports:
            - 64738:64738
            - 64738:64738/udp
        expose:
            - 6502

    mumble_auth:
        build:
            context: ./backend/.
            dockerfile: Dockerfile.mumble
        restart: on-failure
        command: python3 mumble.py
        env_file:
            - .env
        depends_on:
            - mumble_murmur
        expose:
            - 6502

volumes:
    redis: {}
    murmur_data: {}
