version: '2.0'

services:
    db:
        image: mariadb
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: example
        volumes:
            - database:/var/lib/mysql
            - ./backend/sql:/docker-entrypoint-initdb.d
        ports:
            - "3306:3306"
        healthcheck:
            test:
                [
                    "CMD",
                    "healthcheck.sh",
                    "--connect",
                    "--innodb_initialized"
                ]
            start_period: 1m
            start_interval: 10s
            interval: 1m
            timeout: 5s
            retries: 3

    redis:
        image: redis:6.0.9-alpine
        volumes:
            - "redis:/var/lib/redis"
            - "redis:/data"

    app:
        build:
            context: ./backend/
            dockerfile: Dockerfile
        working_dir: /opt/minmatar
        command: ./app-start.sh
        env_file:
            - backend/.env
        depends_on:
            db:
                condition: service_healthy

    frontend:
        build:
            context: ./frontend/
            dockerfile: Dockerfile
        depends_on:
            - app
        env_file:
            - frontend/.env

    proxy:
        image: nginx:stable
        restart: always
        volumes:
            - ./proxy/reverse_proxy.conf:/etc/nginx/conf.d/default.conf:ro
            - /etc/ssl/certs/nginx-selfsigned.crt:/etc/nginx/cert/tls.crt:ro
            - /etc/ssl/private/nginx-selfsigned.key:/etc/nginx/cert/tls.key:ro
        ports:
            - "80:80"
            - "443:443"
        depends_on:
            - app

    beat:
        build:
            context: ./backend/
            dockerfile: Dockerfile
        restart: always
        env_file: backend/.env
        command: celery -A app beat -l info
        depends_on:
            - db
            - app

    celery:
        build:
            context: ./backend/
            dockerfile: Dockerfile
        restart: always
        env_file: backend/.env
        command: celery -A app worker -l info
        depends_on:
            - db
            - app

volumes:
    database: {}
    redis: {}
