[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"

[dev-packages]
pylint = "*"
isort = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
