---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import { is_prod_mode } from '@helpers/env'
import { HTTP_404_Not_Found } from '@helpers/http_responses'

import type { User } from '@dtypes/jwt'
import * as jose from 'jose'

const auth_token = Astro.cookies.has('auth_token') ? (Astro.cookies.get('auth_token')?.value as string) : false
const user:User | false = auth_token ? jose.decodeJwt(auth_token) as User : false

const user_is_superadmin = (auth_token && user ? user.is_superuser : false)

if (is_prod_mode())
    return HTTP_404_Not_Found()

import Viewport from '@layouts/Viewport.astro';

import PageLanding from '@components/page/PageLanding.astro';

import Flexblock from '@components/compositions/Flexblock.astro';

import ButtonStack from '@components/blocks/ButtonStack.astro';
import Button from '@components/blocks/Button.astro';

import AddIcon from '@components/icons/buttons/AddIcon.astro';
import HistoryIcon from '@components/icons/buttons/HistoryIcon.astro';

const page_title = t('freight.page_title');
const page_description = t('freight.leading_text');
---

<Viewport title={page_title} meta_description={t('freight.meta_description')}>
    <PageLanding
        cover={{
            image: "/images/freight-service-cover.jpg",
            image_990: "/images/freight-service-cover.jpg",
            overlay: true
        }}
    >
        <Flexblock gap='var(--space-2xl)'>
            <Flexblock>
                <h1>{page_title}</h1>
                <p class="[ excerpt ]">{page_description}</p>
            </Flexblock>

            <ButtonStack>
                <Button color={'green'} href={translatePath('/market/freight/standard/')}>
                    <AddIcon slot="icon" />
                    {t('standard_freight')}
                </Button>

                <Button color={'green'} href={translatePath('/market/freight/wormhole/')}>
                    <AddIcon slot="icon" />
                    {t('wormhole_freight')}
                </Button>
                
                <Button href={translatePath('/market/freight/summary/')}>
                    <HistoryIcon slot="icon" />
                    {t('30_day_summary')}
                </Button>
            </ButtonStack>
        </Flexblock>
    </PageLanding>
</Viewport>