---
interface Props {
    gap?:                   string;
    'min-shink-width':      string;
    'shrinkable-sibbling':  'first' | 'second';
    [propName: string]: any;
}

const {
    gap = 'var(--space-s)',
    'min-shink-width': min_shink_width,
    'shrinkable-sibbling': shrinkable_element,
    ...attributes
} = Astro.props;

delete attributes.class
---

<div class:list={['flex-inline-siblings', `shrink-${shrinkable_element}`, Astro.props.class]} {...attributes}>
    <slot />
</div>

<style lang="scss" define:vars={{
    flex_inline_siblings_gap: gap,
    flex_inline_siblings_min_shink_width: min_shink_width
}}>
    .flex-inline-siblings {
        gap: var(--flex_inline_siblings_gap);
        --min_shink_width: var(--flex_inline_siblings_min_shink_width);
    }
</style>

<style lang="scss" is:global>
    .flex-inline-siblings {
        --flex-inline-siblings--gap: var(--space-s);

        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;

        &.shrink-first {
            > :first-child {
                flex: 1 1 var(--min_shink_width);
                min-width: var(--min_shink_width);
            }

            > :last-child {
                flex: 0 0 auto;
            }
        }

        &.shrink-second {
            > :first-child {
                flex: 0 0 auto;
            }

            > :last-child {
                flex: 1 1 var(--min_shink_width);
                min-width: var(--min_shink_width);
            }
        }
    }
</style>