---
interface Props {
    gap?: string;
    width?: string;
    breakpoint?: string;
    centered?: boolean;
    [propName: string]: any;
}

const {
    gap = 'var(--space-s)',
    width = '20rem',
    breakpoint = '50%',
    centered = false,
    ...attributes
} = Astro.props;

delete attributes.class
---

<div class:list={['fluid-fixed', Astro.props.class]} {...attributes} data-mod={ centered ? 'centered' : ''}>
    <slot />
</div>

<style lang="scss" define:vars={{
    fixed_fluid_gap: gap,
    fixed_fluid_width: width,
    fixed_fluid_breakpoint: breakpoint,
}}>
    .fluid-fixed {
        gap: var(--fixed_fluid_gap);
    }

    .fluid-fixed :global(> :last-child) {
        flex-basis: var(--fixed_fluid_width);
    }

    .fluid-fixed :global(> :first-child) {
        min-width: var(--fixed_fluid_breakpoint);
    }
</style>

<style lang="scss" is:global>
    .fluid-fixed {
        display: flex;
        flex-wrap: wrap;

        &[data-mod="no-stretch"] {
            align-items: flex-start;
        }

        > :last-child {
            flex-grow: 1;
        }

        > :first-child {
            flex-basis: 0;
            flex-grow: 99999;
        }
    }
</style>