[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
uvicorn = "*"
celery = "*"
mysqlclient = "==2.1.1"
crispy-bootstrap5 = "*"
django-extensions = "*"
django-celery-beat = "*"
requests = "*"
django-esi = "*"
pydantic = "*"
django-eveuniverse = "*"
ratelimit = "*"
backoff = "*"
django-ninja = "*"
pyjwt = "*"
whitenoise = "*"

[dev-packages]
pylint = "*"
isort = "*"
black = "*"
flake8 = "*"
pytest = "*"
django-dotenv = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
