---
import { getLangFromUrl, useTranslatedPath } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

import { request_access_token, get_discord_user, get_discord_member } from '@lib/discord'

if (Astro.request.method !== "GET") Astro.redirect(translatePath('/'))

let error = null
let code = null
let tokens = null
let user = null
let member = null
try {
    code = Astro.url.searchParams.get('code')

    if (!code) {
        throw new Error(`Error no code received`);
    }

    Astro.cookies.set('code', code, { path: '/auth/discord' })

    tokens = await request_access_token(code)

    const { token_type, access_token } = tokens

    Astro.cookies.set('token_type', token_type, { path: '/auth/discord' })
    Astro.cookies.set('access_token', access_token, { path: '/auth/discord' })

    user = await get_discord_user(token_type, access_token)

    member = await get_discord_member(access_token, user.id)
} catch (error) {
    console.error('Error during token exchange:', error.message);
    error = error.message
}

import Viewport from '@layouts/Viewport.astro';
import Flexblock from '@components/compositions/Flexblock.astro';
import Wrapper from '@components/compositions/Wrapper.astro';
---

<Viewport title="Authentication">
    <main id="content" x-data={`{ id: 6, item_id: 18 }`}>
		<Wrapper max_width="var(--max-text-width)" neocom={true}>
            <Flexblock gap='var(--space-2xl)'>
                {error &&
                    <Flexblock gap="var(--space-3xs)">
                        <h4>Error</h4>
                        <pre>{error}</pre>
                    </Flexblock>
                }

                <Flexblock gap="var(--space-3xs)">
                    <h4>Code</h4>
                    <pre>{JSON.stringify(code ?? '', null, 4)}</pre>
                </Flexblock>

                <Flexblock gap="var(--space-3xs)">
                    <h4>Tokens</h4>
                    <pre>{JSON.stringify(tokens ?? '', null, 4)}</pre>
                </Flexblock>

                <Flexblock gap="var(--space-3xs)">
                    <h4>User</h4>
                    <pre>{JSON.stringify(user ?? '', null, 4)}</pre>
                </Flexblock>
                
                <Flexblock gap="var(--space-3xs)">
                    <h4>Member</h4>
                    <pre>{member == null ? 'User is not member of the server/guild' : JSON.stringify(member ?? '', null, 4)}</pre>
                </Flexblock>
            </Flexblock>
        </Wrapper>
    </main>
</Viewport>