/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --step--2: clamp(0.7038rem, 0.8082rem + -0.1348vw, 0.7813rem);
    --step--1: clamp(0.9375rem, 0.9375rem + 0vw, 0.9375rem);
    --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --step-1: clamp(1.35rem, 1.24rem + 0.55vw, 1.6663rem);
    --step-2: clamp(1.62rem, 1.4109rem + 1.0457vw, 2.2213rem);
    --step-3: clamp(1.9438rem, 1.5901rem + 1.7685vw, 2.9606rem);
    --step-4: clamp(2.3325rem, 1.771rem + 2.8076vw, 3.9469rem);
    --step-5: clamp(2.7994rem, 1.9433rem + 4.2804vw, 5.2606rem);
  }