---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import Viewport from '@layouts/Viewport.astro';

import PageLanding from '@components/page/PageLanding.astro';

import Flexblock from '@components/compositions/Flexblock.astro';

import ButtonStack from '@components/blocks/ButtonStack.astro';
import Button from '@components/blocks/Button.astro';

import FleetIcon from '@components/icons/buttons/FleetIcon.astro';

const page_title = t('doctrines.page_title');
const page_description = t('doctrines.leading_text');
---

<Viewport title={page_title} meta_description={page_description}>
    <PageLanding
        cover={{
            image: "/images/doctrines-cover.jpg",
            image_990: "/images/doctrines-cover.jpg",
            overlay: true
        }}
    >
        <Flexblock gap='var(--space-2xl)'>
            <Flexblock>
                <h1>{page_title}</h1>
                <p>{page_description}</p>
            </Flexblock>
            
            <ButtonStack>
                <Button color={'alliance-blue'} href={translatePath('/ships/doctrines/alliance')}>
                    <FleetIcon slot="icon" />
                    {t('alliance_doctrines')}
                </Button>
                
                <Button color={'militia-purple'} href={translatePath('/ships/doctrines/militia')}>
                    <FleetIcon slot="icon" />
                    {t('militia_doctrines')}
                </Button>
            </ButtonStack>
        </Flexblock>
	</PageLanding>
</Viewport>