---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

import { is_prod_mode } from '@helpers/env'
import { HTTP_404_Not_Found } from '@helpers/http_responses'

import type { User } from '@dtypes/jwt'
import * as jose from 'jose'

const user:User | false = Astro.cookies.has('auth_token') ? jose.decodeJwt(Astro.cookies.get('auth_token').value) as User : false

if (!user)
    return HTTP_404_Not_Found()

import Viewport from '@layouts/Viewport.astro';

import PageLanding from '@components/page/PageLanding.astro';

import ButtonCardGrid from '@components/layout/ButtonCardGrid.astro';

import Flexblock from '@components/compositions/Flexblock.astro';

import ButtonCard from '@components/blocks/ButtonCard.astro';

import GroupsEvEIcon from '@components/icons/GroupsEvEIcon.astro';
import CorporationEvEIcon from '@components/icons/CorporationEvEIcon.astro';

const page_title = t('alliance.page_title');
const page_description = t('alliance.leading_text');
---

<Viewport title={page_title} meta_description={page_description}>
    <PageLanding
        cover={{
            image: "/images/alliance-cover.jpg",
            image_990: "/images/alliance-cover-990.jpg",
            alt: t('alliance.cover_alt'),
            overlay: true
        }}
    >
        <Flexblock gap='var(--space-2xl)'>
            <Flexblock>
                <h1>{page_title}</h1>
                <p>{page_description}</p>
            </Flexblock>
            

            <ButtonCardGrid>
                <ButtonCard title={t('teams')} href={translatePath('/alliance/groups/')}>
                    <GroupsEvEIcon slot="icon" />
                </ButtonCard>

                {!is_prod_mode() &&
                    <ButtonCard title={t('corporations')} href={translatePath('/alliance/corporations/list/')}>
                        <CorporationEvEIcon slot="icon" />
                    </ButtonCard>
                }
            </ButtonCardGrid>
        </Flexblock>
    </PageLanding>
</Viewport>