---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

import Viewport from '@layouts/Viewport.astro';

import PageWide from '@components/page/PageWide.astro';
import PageTitle from '@components/page/PageTitle.astro';

import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';

import Button from '@components/blocks/Button.astro';
import TuiEditor from '@components/blocks/TuiEditor.astro';
import StylessTextArea from '@components/blocks/StylessTextArea.astro';
import TextBox from '@components/layout/TextBox.astro';

import Markdown from '@components/icons/buttons/Markdown.astro';
---

<Viewport title={'Test'}>
    <PageWide
        fullscreen={true}
        wide={true}
        cover={{
            image: "/images/editor-cover.jpg",
            image_990: "/images/editor-cover-990.jpg",
            alt: t('account.cover_alt'),
            scrollable: true,
            overlay: true
        }}
        x-data={`{
            update_wyswyg_toolbar() {
                post_header = document.querySelector('.post-header')
                post_header_height = post_header ? post_header.offsetHeight - 3 : 0
                const toolbar = document.querySelector('.toastui-editor-toolbar')
                if (toolbar)
                    toolbar.style.top = \`\${post_header_height}px\`
            }
        }`}
        x-on:scroll.window.throttle.250ms={`
			setTimeout(update_wyswyg_toolbar, 250)
		`}
    >
        <FlexInline
            slot="header"
            justification='space-between'
            class="[ w-full ]"
            x-bind:class="{ '!items-start': !sticky }"
        >
            <TextBox>
                <PageTitle>
                    <StylessTextArea
                        placeholder={t('add_title')}
                        class="[ uppercase !text-[var(--highlight)] !max-h-fit text-balance ]"
                        x-on:change="update_url"
                    />
                </PageTitle>
            </TextBox>
            
            <Button
                type="button"
                color='green'
                x-on:click="show_all = !show_all"
            >
                {t('update_post')}
            </Button>
        </FlexInline>

        <Flexblock>
            <TextBox>
                <Flexblock gap='0'>
                    <StylessTextArea placeholder={t('add_excerpt')} class="[ excerpt !max-h-none ]" />
                    <a href="https://www.markdownguide.org/" class="[ w-fit ]" target="_blank" rel="noreferrer noopener nofollow">
                        <FlexInline gap='var(--space-3xs)'>
                            <Markdown />
                            <small>{t('markdown_support')}</small>
                        </FlexInline>
                    </a>
                </Flexblock>
            </TextBox>

            <TuiEditor />
        </Flexblock>
    </PageWide>
</Viewport>

<style lang="scss">
    .excerpt {
        font-size: var(--step-1);
    }
</style>