---
import { getLangFromUrl, useTranslations } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import type { User } from '@dtypes/jwt'
import * as jose from 'jose'

const auth_token = Astro.cookies.has('auth_token') ? Astro.cookies.get('auth_token').value : false
const user:User | false = auth_token ? jose.decodeJwt(auth_token) as User : false

const user_is_superadmin = (auth_token && user ? user.is_superuser : false)

import type { StaggeringType } from '@dtypes/layout_components'

import Viewport from '@layouts/Viewport.astro';

import PageLanding from '@components/page/PageLanding.astro';

import Flexblock from '@components/compositions/Flexblock.astro';
import Wrapper from '@components/compositions/Wrapper.astro';
import FlexInline from '@components/compositions/FlexInline.astro';

import StationAssets from '@components/blocks/StationAssets.astro';
import WatermelonInfo from '@components/blocks/WatermelonInfo.astro';
import AugaInfo from '@components/blocks/AugaInfo.astro';
import OurzadInfo from '@components/blocks/OurzadInfo.astro';
import Input from '@components/blocks/Input.astro';
import HomeCorporations from '@components/blocks/HomeCorporations.astro';
import FleetFeed from '@components/blocks/FleetFeed.astro';
import MediaFeed from '@components/blocks/MediaFeed.astro';

import FleetLogo from '@components/icons/FleetLogo.astro';

import {
	WatermelonXData,
	WatermelonCameraXData,
	AugaMilitiaHQCameraXData,
	AugaMilitiaHQXData,
	OurzadCameraXData,
	OurzadXData,
} from '@components/partials/HomepageRenders.astro';

const staggering = Astro.cookies.has('staggering') ? Astro.cookies.get('staggering').value as StaggeringType : 'watermelon'

const page_title = t('index.page_title');
---

<Viewport title={page_title}>
    <PageLanding
        cover={{
            image: staggering === 'auga' ? '/images/home-auga-cover.jpg' :
			       staggering === 'ourzad' ?  '/images/home-arzad-cover.jpg' :
					'/images/home-cover.jpg',
            image_990: staggering === 'auga' ? '/images/home-auga-cover.jpg' :
			           staggering === 'ourzad' ?  '/images/home-arzad-cover.jpg' :
					   '/images/home-cover.jpg',
            alt: t('index.cover_alt'),
            animated: false,
        }}
        fullscreen={true}
        wide={true}
		x-data={`{
            ${staggering === 'auga' ?
				AugaMilitiaHQCameraXData :
				staggering === 'ourzad' ?
				OurzadCameraXData :
				WatermelonCameraXData
			},
			init() {
				if (Notification.permission === 'default')
					Notification.requestPermission()
			}
        }`}
        x-effect="update"
    >
        <canvas
            slot="cover"
            id="mainCanvas"
            width="500"
            height="500"
			x-on:scroll.stop
			x-on:mousewheel.stop
            x-data={`{
				${staggering === 'auga' ?
					AugaMilitiaHQXData :
					staggering === 'ourzad' ?
					OurzadXData :
					WatermelonXData
				}
            }`}
            x-init="$nextTick(() => init_ccpwgl())"
        />

		<Flexblock 
			class="[ station-info ][ !hidden xl:!block ]"
			gap='0'
		>
			{staggering === 'auga' ?
				<AugaInfo /> :
				staggering === 'ourzad' ?
				<OurzadInfo /> :
				<WatermelonInfo />
			}
			{user &&
				<FlexInline>

					<StationAssets
						corporation={
							staggering === 'auga' ? {
								id: 98726134,
								name: 'Rattini Tribe',
							} : {
								id: 263585335,
								name: 'Black Omega Security'
							}
						}
						station={
							staggering === 'auga' ? 'Auga - Minmatar Militia HQ' :
							staggering === 'ourzad' ? 'Arzad - Ourzad' :
							'Sosala - WATERMELLON'
						}
					/>
				
				</FlexInline>
			}
		</Flexblock>

        <Wrapper
			max_width='48rem'
			padding_inline='0'
			padding_block="var(--space-xl)"
			class="[ page-content ]"
		>
			<Flexblock gap='var(--space-3xl)'>
				<Flexblock gap='var(--space-2xl)'>
					<Flexblock
						gap='var(--space-m)'
						class="[ text-center ]"
					>
						<h1 class="[ flex justify-center ]"><FleetLogo width='256' height='256' /></h1>
						
						<h2 class="[ welcome-heading ]">Welcome to Minmatar Fleet</h2>

						<p>{t('index.leading_text')}</p>

						{user_is_superadmin &&
							<Flexblock class="[ camera-controls !hidden ]">
								<Flexblock gap='0'>
									<label for="doctrine">{t('rotation_x')}</label>
									<Input type="number" x-model="rotation_x" step="0.01" />
								</Flexblock>
								<Flexblock gap='0'>
									<label for="doctrine">{t('rotation_y')}</label>
									<Input type="number" x-model="rotation_y" step="0.01" />
								</Flexblock>
							</Flexblock>
						}
					</Flexblock>

					<Flexblock gap='var(--space-3xs)'>
						<HomeCorporations />
						
						<MediaFeed />
					</Flexblock>
				</Flexblock>

				<p class="[ ccp-disclaimer ][ text-center ]">{t('ccp_disclaimer')}</p>
			</Flexblock>
		</Wrapper>

		{user &&
			<FleetFeed />
		}
    </PageLanding>
</Viewport>

<style lang="scss">
	.station-info {
		position: fixed;
		top: var(--space-l);
		right: var(--space-xl);
		z-index: 2;
	}

	.ccp-disclaimer {
		font-size: var(--step--2);
	}

	.camera-controls {
		position: fixed;
		bottom: 60px;
		right: 60px;
		width: 250px;
	}

	.welcome-heading {
		font-size: var(--step-3);
	}

    .left-panel {
        position: absolute;
    }

	.page-content {
		position: relative;
		z-index: 1;
		display: flex;
		min-height: 100vh;
		align-items: center;
	}
</style>

<style is:global>

    #mainCanvas {
        border: none;
        position:fixed;
        width:100%;
        height:100%;
		/*z-index: -1;*/
    }

</style>