<h1 {...Astro.props}>
    <slot />
</h1>

<style lang="scss">
    :global(.sticky h1) {
        font-size: var(--step-1) !important;
    }

    h1 {
        font-size: var(--step-4);
        transition: var(--fast-transition);
    }
</style>