---
import PageCover from '@components/page/partials/PageCover.astro';
import Wrapper from '@components/compositions/Wrapper.astro';

import type { PageCoverOptions } from '@dtypes/layout_components'

interface Props {
    cover?:                 false | PageCoverOptions;
    wide?:                  boolean;
    [propName: string]:     any;
}

const {
    cover,
    wide = false,
    ...attributes
} = Astro.props;

const max_width = (wide ? 'var(--max-content-width)' : 'var(--max-text-width)')
---
<main id="content" {...attributes}>
    {cover && <PageCover {...cover} /> }

    <Wrapper max_width={max_width} padding_block={wide ? '0' : 'var(--space-2xl)'} neocom={true}>
        <slot />
    </Wrapper>
</main>