---
import type { PageCoverOptions, PageVideoOptions } from '@dtypes/layout_components'

interface Props {
    cover?:                 false | PageCoverOptions;
    video?:                 PageVideoOptions;
    neocom?:                boolean;
    shadow?:                boolean;
    [propName: string]:     any;
}

const {
    cover,
    video,
    neocom = true,
    shadow = true,
    ...attributes
} = Astro.props;

import PageCover from '@components/page/partials/PageCover.astro';
import FluidFixed from '@components/compositions/FluidFixed.astro';
import Wrapper from '@components/compositions/Wrapper.astro';

import VideoWidget from '@components/blocks/VideoWidget.astro';
---

<main id="content" {...attributes}>
    {cover && <PageCover {...cover} /> }

    <Wrapper class="w-full" max_width="var(--max-content-width)" centered={true} neocom={neocom}>
        <FluidFixed
            class="[ items-center ]"
            width="var(--max-video-description-width)"
            breakpoint="30%"
            gap="var(--space-2xl-3xl)"
        >
            <Wrapper max_width="var(--max-video-description-width)" padding_inline="0" padding_block="0">
                <slot />
            </Wrapper>
                
            <VideoWidget
                url={video.url}
                credits={video?.credits ?? false}
                shadow={shadow}
            />
        </FluidFixed>
    </Wrapper>
</main>

<style lang="scss">
    #content {
        min-height: 100vh;
        display: flex;
        align-items: center;
    }
</style>