{% for corporation_chunk in corporation_chunks %}
<div class="row">
{% for corporation in corporation_chunk %}
<div class="col-lg-4 col-md-12 mb-4">
    <div class="card">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <div>
            <img src="https://images.evetech.net/corporations/{{corporation.corporation_id}}/logo?size=128" class="img-fluid" />
        </div>
        <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{corporation.name}}</h5>
        <p class="card-text">
        Some quick example text to build on the card title and make up the bulk of the
        card's content.
        </p>
        {% if corporation.active %}
        <a href="{% url 'eveonline-corporations-apply' corporation.pk %}" class="btn btn-primary">Submit Application</a>
        {% else %}
        <a href="{% url 'eveonline-corporations-update' corporation.pk %}" class="btn btn-danger">Missing Corporation Token</a>
        {% endif %}

    </div>
    </div>
</div>
{% endfor %}
</div>
{% endfor %}