@keyframes slidein {
    from {
        transform: translateX(10%);
    }

    to {
        transform: translateX(0%);
    }
}

.slide-in {
    animation-duration: 0.2s;
    animation-name: slidein;
}

@keyframes slideup {
    from {
        transform: translateY(20%);
    }

    to {
        transform: translateY(0%);
    }
}

.slide-up {
    animation-duration: 0.2s;
    animation-name: slideup;
}

.loading:after {
    display: inline-block;
    animation: dotty steps(1,end) 1s infinite;
    content: '...';
}
  
@keyframes dotty {
    0% { content: '...'; }
    25%   { content: ''; }
    50%  { content: '.'; }
    75%  { content: '..'; }
    100%  { content: '...'; }
}

.blink-animation {
    animation-duration: 2s;
    animation-name: blink;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0% { opacity: 0.75; }
    50%   { opacity: 0.25; }
    100%  { opacity: 0.75; }
}

.dscan {
    &:before {
        content: '';
        z-index: 1;
        opacity: 0;
        animation: dscan 0.5s;
        animation-iteration-count: 1;
        inset: calc(var(--space-2xs) * -1) calc(var(--space-s-l) * -1);
        position: absolute;
        background-image: linear-gradient(
            to right,
            hsla(132.12, 43.23%, 44.9%, 0) 0%,
            hsla(132.12, 43.23%, 44.9%, 0.013) 4.8%,
            hsla(132.12, 43.23%, 44.9%, 0.049) 10.9%,
            hsla(132.12, 43.23%, 44.9%, 0.104) 18.1%,
            hsla(132.12, 43.23%, 44.9%, 0.175) 26.1%,
            hsla(132.12, 43.23%, 44.9%, 0.259) 34.8%,
            hsla(132.12, 43.23%, 44.9%, 0.352) 43.8%,
            hsla(132.12, 43.23%, 44.9%, 0.45) 53%,
            hsla(132.12, 43.23%, 44.9%, 0.55) 62%,
            hsla(132.12, 43.23%, 44.9%, 0.648) 70.6%,
            hsla(132.12, 43.23%, 44.9%, 0.741) 78.5%,
            hsla(132.12, 43.23%, 44.9%, 0.825) 85.6%,
            hsla(132.12, 43.23%, 44.9%, 0.896) 91.5%,
            hsla(132, 46.94%, 51.96%, 0.951) 96.1%,
            hsla(132, 46.94%, 51.96%, 0.987) 99%,
            hsl(131, 100%, 88%) 100%
        );
    }
}

@keyframes dscan {
    from {
        left: calc(var(--space-s-l) * -1);
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 75%;
    }
}