main .prose {
    font-size: var(--normal-font-size);

    /** {
        line-height: 1.5;
    }

    h1 {
        line-height: 1.1;
    }
    
    h2 {
        // font-size: var(--step-3);
        line-height: 1.1;
    }
    
    h3 {
        // font-size: var(--step-2);
        line-height: 1.1;
    }
    
    h4 {
        font-size: var(--step-0);
        line-height: 1.1;
        font-weight: 600;
    }
    
    h5 {
        font-size: var(--step--1);
        line-height: 1.1;
        font-weight: 600;
    }
    
    h6 {
        font-size: var(--step--2);
        line-height: 1.1;
        font-weight: 600;
    }

    code {
        &:after,
        &:before {
            content: '' !important;
        }
    }

    ol,
    ul {
        padding-left: 19px;

        > li::marker {
            color: var(--highlight);
        }
    }*/

    .bleed {
        max-width: calc(100vw - calc(var(--space-2xl-3xl) + var(--space-l-xl)));
        width: fit-content;
    }
}