body {
    font-weight: 400;
    font-family: var(--default-font);
}

h1, h2, h3 {
    font-family: var(--heading-font);
    text-transform: uppercase;
    font-weight: 400;
}

h4 {
    font-weight: 400;
}

h1 {
    font-size: var(--step-5);
}

/*h2 {
    font-size: var(--step-3);
}

h3 {
    font-size: var(--step-2);
}

h4 {
    font-size: var(--step-1);
}

h5 {
    font-size: var(--step-0);
}*/

label {
    color: var(--highlight);
}

img {
    font-size: var(--step--2);
    color: var(--foreground);
}