---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import type { User } from '@dtypes/jwt'
import * as jose from 'jose'

const auth_token = Astro.cookies.has('auth_token') ? (Astro.cookies.get('auth_token')?.value as string) : false
const user:User | false = auth_token ? jose.decodeJwt(auth_token) as User : false

import * as troubleshooting_post from '@/posts/troubleshooting.md';

if (!user) return Astro.redirect(`${translatePath('/redirects/auth_init')}?redirect_url=${Astro.url}`)

import { get_app_url } from '@helpers/env'
import { marked } from 'marked'
import { renderer } from '@helpers/marked'

import Viewport from '@layouts/Viewport.astro';

import PageDefault from '@components/page/PageDefault.astro';
import PageTitle from '@components/page/PageTitle.astro';

import TextBox from '@components/layout/TextBox.astro';

import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';

import Button from '@components/blocks/Button.astro';

const page_title = troubleshooting_post.frontmatter.title
---

<Viewport
    title={page_title}
    components={{
        alert_dialog: true,
        confirm_dialog: true,
        modal: true
    }}
>
    <PageDefault
        cover={{
            image: troubleshooting_post.frontmatter.cover,
            image_990: troubleshooting_post.frontmatter.cover,
            scrollable: true,
            overlay: true
        }}
    >
        <FlexInline slot="header" justification='space-between' class="[ w-full ]">
            <PageTitle>
                {page_title}
            </PageTitle>
            <FlexInline>
                <Button class="[ !hidden md:!flex ]" href={translatePath('/account/')}>
                    {t('account_details')}
                </Button>
            </FlexInline>
        </FlexInline>
        
        <TextBox>
            <Flexblock gap="var(--space-xl)">
                <Flexblock
                    class="[ post ]"
                    set:html={marked.parse(troubleshooting_post.rawContent().replace('BASE_URL', get_app_url()), { renderer })}
                    gap='var(--space-l)'
                />
            </Flexblock>
        </TextBox>
    </PageDefault>
</Viewport>