---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

import { is_prod_mode } from '@helpers/env'
import { HTTP_404_Not_Found } from '@helpers/http_responses'

if (is_prod_mode())
    return HTTP_404_Not_Found()

import doctrines from '@json/page/doctrines/alliance.json';
import { marked } from 'marked';

import Viewport from '@layouts/Viewport.astro';

import PageWide from '@components/page/PageWide.astro';
import PageTitle from '@components/page/PageTitle.astro';

import TextBox from '@components/layout/TextBox.astro';

import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';

import DoctrineItem from '@components/blocks/DoctrineItem.astro';
import ComponentBlock from '@components/blocks/ComponentBlock.astro';
import Button from '@components/blocks/Button.astro';

import FleetIcon from '@components/icons/buttons/FleetIcon.astro';

const page_title = t('doctrines.alliance.page_title');
---

<Viewport title={page_title}>
    <PageWide
        cover={{
            image: "/images/doctrines-cover.jpg",
            image_990: "/images/doctrines-cover-990.jpg",
            alt: t('doctrines.cover_alt'),
            animated: false,
            scrollable: true,
            overlay: true
        }}
    >
        <FlexInline slot="header" justification='space-between'>
            <FlexInline>
                <Flexblock gap="var(--space-3xs)">
                    <PageTitle>
                        {page_title}
                    </PageTitle>
                    <small>{doctrines.length} {t('doctrine').toLowerCase()}{doctrines.length != 1 ? 's' : ''}</small>
                </Flexblock>
            </FlexInline>
            <FlexInline>
                <Button color={'militia-purple'} href={translatePath('/ships/doctrines/militia')} class="[ !hidden md:!flex ]">
                    <FleetIcon slot="icon" />
                    {t('militia_doctrines')}
                </Button>
            </FlexInline>
        </FlexInline>

        <Flexblock gap="var(--space-xl)">
            <TextBox set:html={marked.parse(t('doctrines.alliance.page_leading_text'))} />
            
            <Flexblock role="list" gap='var(--space-3xs)'>
                
                {doctrines.map((doctrine) =>
                    <ComponentBlock>
                        <DoctrineItem role="listitem" doctrine={doctrine} />
                    </ComponentBlock>
                )}

            </Flexblock>
        </Flexblock>
    </PageWide>
</Viewport>