---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import type { ButtonColors, ButtonSizes } from '@dtypes/layout_components';

interface Porps {
    size?:      ButtonSizes;
    iconed?:    boolean;
    color?:     ButtonColors;
}

const {
    size = 'lg',
    iconed = true,
    color = 'green',
} = Astro.props

const ADD_MOON_RESULT_PARTIAL_URL = translatePath('/partials/add_moon_result_component/')

import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';

import DialogButton from "@components/blocks/DialogButton.astro";
import Button from '@components/blocks/Button.astro';
import Textarea from '@components/blocks/Textarea.astro';

import AddIcon from '@components/icons/buttons/AddIcon.astro';
---

<DialogButton
    size={size}
    color={color}
>
    {iconed && <AddIcon slot="icon" />}    
    {t('add_moon')}

    <form
        slot="dialog" 
        hx-post={ADD_MOON_RESULT_PARTIAL_URL}
        hx-trigger="submit"
        hx-target="#add-moon-result"
        hx-indicator=".loader"
        hx-swap="outerHTML transition:true"
        x-data={`{
            moon_information: '',
            clear_form() {
                $nextTick(() => {
                    this.moon_information = ''
                })
            }
        }`}
        x-on:submit="close_dialog(); clear_form()"
    >
        <Flexblock gap="var(--space-l)">
            <Flexblock gap="var(--space-s)">
                <h3>{t('add_moon_dialog_title')}</h3>
                
                <p>{t('add_moon_dialog_text')}</p>

                <Flexblock class="[ w-full ]" gap="var(--space-3xs)">
                    <label for="moon-information">{t('moon_information')}</label>
                    <Textarea class="[ text-nowrap ]" id="moon-information" name="moon-information" x-model="moon_information" rows="5" required />
                    <small><a href="https://wiki.eveuniversity.org/Moon_mining#Performing_the_Activity" target="_blank" rel="nofollow noopener noreferrer">{t('how_to_paste')}</a></small>
                </Flexblock>
            </Flexblock>

            <FlexInline justification='flex-end'>
                <Button
                    size='sm'
                    type="submit"
                    color='green'
                >
                    {t('save')}
                </Button>
                <Button
                    type="button"
                    size='sm'
                    x-on:click="close_dialog()"
                >
                    {t('close')}
                </Button>
            </FlexInline>
        </Flexblock>
    </form>
</DialogButton>
        
<div id="add-moon-result" />