---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

const ADD_SUPPLIER_TOKEN_INIT_PARTIAL_URL = `${translatePath('/redirects/add_supplier_token_init')}?redirect=${Astro.url}`

import Button from '@components/blocks/Button.astro'
---

<Button
    size='sm'
    color='green'
    href={ADD_SUPPLIER_TOKEN_INIT_PARTIAL_URL}
    x-data={`{
        redirect(accepted) {
            if (accepted) window.location.href = "${ADD_SUPPLIER_TOKEN_INIT_PARTIAL_URL}"
        },
        show_become_supplier_disclaimer() {
            show_confirm_dialog({
                title: '${t('become_supplier_dialog_title')}',
                partial: '${translatePath('/partials/become_supplier_dialog/')}',
            }).then( (accepted) => this.redirect(accepted) )
        }
    }`}
    x-on:click.prevent="show_become_supplier_disclaimer"
>
    {t('add_supplier')}
</Button>