---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import Wrapper from '@components/compositions/Wrapper.astro';
import Grid from '@components/compositions/Grid.astro';

import Button from '@components/blocks/Button.astro';
import Tile from '@components/blocks/Tile.astro';
---

<Grid
    class="[ w-full grid-fill ]"
    row_gap="var(--space-3xs)"
    column_gap="var(--space-3xs)"
    min_item_width="580px"
>
    <Tile
        title={t('our_dna')}
        description={t('dna.leading_text')}
        cover='/images/corporations-tile-background.webp'
    >               
        <Button size='sm' href={translatePath('/alliance/story/')}>
            {t('our_story')}
        </Button>
        <Button size='sm' href={translatePath('/alliance/values/')}>
            {t('our_values')}
        </Button>
        <Button size='sm' href={translatePath('/alliance/playstyle/')}>
            {t('our_playstyle')}
        </Button>
    </Tile>

    <Tile
        title={t('our_community')}
        description={t('community.leading_text')}
        cover='/images/sigs-tile-background.webp'
    >                        
        <Button size='sm' href={translatePath('/alliance/corporations/')}>
            {t('corporations')}
        </Button>

        <Button size='sm' href={translatePath('/alliance/tribes/')}>
            {t('tribes.page_title')}
        </Button>

        <Button size='sm' href={translatePath('/alliance/propaganda/')}>
            {t('propaganda.page_title')}
        </Button>

        <Button size='sm' href={translatePath('/guides/')}>
            {t('guides.page_title')}
        </Button>
    </Tile>
</Grid>