---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

import AssetsBlockAlpine from '@components/blocks/AssetsBlockAlpine.astro';
import TextBox from '@components/layout/TextBox.astro';
import Flexblock from '@components/compositions/Flexblock.astro';
---

<Flexblock
    id="assets-list"
    class="[ assets-list ]"
    {...Astro.props}
>
    <template x-for="assets_location in assets_locations_filtered">
        <AssetsBlockAlpine />
    </template>
    <template x-if="assets_locations_filtered.length == 0">
        {!Astro.slots.has('default') &&
            <TextBox>
                <p>{t('no_assets')}</p>
            </TextBox>
        }
    </template>
    <slot />
</Flexblock>

<style lang="scss">
    .assets-list {
        position: relative;
        //margin-top:
        top: calc(-1 * var(--space-s));
    }
</style>