---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

import { get_item_icon } from '@helpers/eve_image_server'

import type { AssetUI } from '@dtypes/layout_components'

interface Props {
    asset: AssetUI;
}

const {
    asset
} = Astro.props

import FixedFluid from '@components/compositions/FixedFluid.astro';
import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';

import VerticalCenter from '@components/blocks/VerticalCenter.astro';
---

<FixedFluid
    width='64px'
    class="[ asset-item ]"
>
    <picture>
        <img loading="lazy" src={get_item_icon(asset.id)} width="64" height="64" alt={`${asset.name} ${t('icon').toLowerCase()}`} />
    </picture>
    <FlexInline justification='space-between'>
        <VerticalCenter>
            <Flexblock gap='0' class="[ w-full ]">
                <span>
                    {asset.count} x {asset.name}
                </span>
            </Flexblock>
        </VerticalCenter>
    </FlexInline>
</FixedFluid>