---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

import type { AssetsLocationUI } from '@dtypes/layout_components'

interface Props {
    assets_locations: AssetsLocationUI[];
}

const {
    assets_locations,
} = Astro.props

import AssetsBlock from '@components/blocks/AssetsBlock.astro';
import TextBox from '@components/layout/TextBox.astro';
import Flexblock from '@components/compositions/Flexblock.astro';
---

<div
    id="assets-list"
    class="[ assets-list ]"
>
    <Flexblock>
        {assets_locations.map( (assets_location) => 
            <AssetsBlock
                assets_location={assets_location}
            />
        )}
    </Flexblock>

    {assets_locations.length == 0 &&
        <TextBox>
            <p>{t('no_assets')}</p>
        </TextBox>
    }
</div>