---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

interface Props {
    id:                     string;
    picture_placement:      'left' | 'right',
}

const {
    id,
    picture_placement = 'left'
} = Astro.props

const MINMATAR_FLEET_ASSOCIATES_ID = 99012009

import { get_alliance_logo } from '@helpers/eve_image_server';

import FixedFluid from "@components/compositions/FixedFluid.astro"
import Flexblock from "@components/compositions/Flexblock.astro"

import TextBox from '@components/layout/TextBox.astro'

import Button from "@components/blocks/Button.astro"

import Wrapper from '@components/compositions/Wrapper.astro'
---

<FixedFluid
    id={id}
    class="[ corporation-intro ][ w-full items-center ]"
    width='650px'
    breakpoint='30%'
    fluid_first={picture_placement === 'left'}
>
    <Wrapper
        padding_block='var(--space-s)'
        padding_inline='var(--space-s)'
    >
        <Flexblock gap='var(--space-xl)'>
            <Flexblock>
                <picture class="[ animated ][ h-[128px] animate-slide-up-fade ]">
                    <img src={get_alliance_logo(MINMATAR_FLEET_ASSOCIATES_ID, 256)} width="128" height="128" alt={`${t('minmatar_fleet_associates')} ${t('logo')}`} />
                </picture>
                <h2 class="[ animated ][ animate-slide-up-fade animate-delay-150 ]">{t('minmatar_fleet_associates')}</h2>
            </Flexblock>
            <TextBox class="[ animated ][ animate-fade-in animate-duration-250 animate-delay-300 ]">
                <p>Minmatar Fleet Associates is a collection of small, medium, and large corporations focused on supplying the relentless war machine of the Minmatar Fleet. These organizations typically specialize in industry, resource collection, and logistics.</p>
            </TextBox>
            <div class="[ animated ][ animate-fade-in animate-duration-250 animate-delay-450 ]">
                <Button href={translatePath('/alliance/corporations/associates/')}>
                    {t('view_associates')}
                </Button>
            </div>
        </Flexblock>
    </Wrapper>
    
    <div class="[ corporation-identity ][ relative ]">
        <img class="[ nebula ][ absolute w-full ]" src="/images/corporations/nebula.png"  />
        <picture class="[ justify-center ]">
            <img class="[ ceos ]" src="/images/corporations/associates/ceos.png" />
            <img class="[ athanor ]" src="/images/corporations/associates/athanor.png" />
            <img class="[ mackinaw ]" src="/images/corporations/associates/mackinaw.png" />
            <img class="[ nomad ]" src="/images/corporations/associates/nomad.png" />
        </picture>
    </div>
</FixedFluid>

<style lang="scss">
    .corporation-intro {
        position: relative;
    }

    h2 {
        font-size: var(--step-5);
    }

    .corporation-identity {
        width: 100%;
        justify-content: center;
        display: flex;

        @media screen and (max-width: 1279px) {
            display: none;
        }
    }

    picture {
        aspect-ratio: 1 / 1;
        max-width: 900px;
        position: relative;
        width: 100%;
        display: flex;

        &.ceo-right {
            justify-content: flex-end;
        }
    }

    .ceos {
        z-index: 3;
        position: relative;
        transform: scale(0.85);
        height: 99%;
        opacity: 0;

        img {
            width: auto;
            height: 100%;
        }
    }

    .athanor {
        position: absolute;
        top: 5%;
        left: 20%;
        height: auto;
        width: 64%;
        z-index: 1;
        opacity: 0;
    }

    .mackinaw {
        position: absolute;
        top: 66%;
        left: 12%;
        width: 38%;
        height: auto;
        z-index: 2;
        transform: scale(0);
    }

    .nomad {
        position: absolute;
        top: 9%;
        left: 16%;
        width: 42%;
        height: auto;
        z-index: 1;
        transform: scale(0);
    }

    @keyframes ceos_assoc {
        0% {
            transform: scale(0.85);
            opacity: 0;
        }

        30% {
            opacity: 1;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    @keyframes athanor {
        from {
            opacity: 0;
            top: 4%;
        }

        to {
            opacity: 1;
            top: 5%;
        }
    }

    @keyframes mackinaw {
        0% {
            transform: scale(0);
            top: 66%;
            left: 12%;
        }

        30% {
            transform: scale(1);
            top: 8%;
            left: 53%;
        }

        100% {
            transform: scale(1.03);
            top: 5%;
            left: 55%;
        }
    }

    @keyframes nomad {
        0% {
            transform: scale(0);
            top: 64%;
            left: 17%;
        }

        33% {
            transform: scale(1);
            top: 9%;
            left: 16%;
        }

        100% {
            transform: scale(1.03);
            top: 6%;
            left: 14%;
        }
    }

    @keyframes blurred-fade-in {
        0% {
            filter: blur(40px);
            opacity: 0
        }

        to {
            filter: blur();
            opacity: 1
        }
    }
</style>

<style lang="scss" is:global>
    .swiper-slide-active #associates-alliance {
        .ceos {
            animation: ceos_assoc ease-out 3.7s;
            animation-delay: 0.5s;
            animation-iteration-count: 1;
            transform-origin: bottom;
            animation-fill-mode: forwards;
        }

        .athanor {
            animation: athanor ease-out 3s;
            animation-delay: 1s;
            animation-iteration-count: 1;
            transform-origin: top right;
            animation-fill-mode: forwards;
        }
        
        .mackinaw {
            animation: mackinaw cubic-bezier(0.390, 0.575, 0.565, 1.000) both 3.1s;
            animation-delay: 1.6s;
            animation-iteration-count: 1;
            transform-origin: top right;
            animation-fill-mode: forwards;
        }
        
        .nomad {
            animation: nomad cubic-bezier(0.390, 0.575, 0.565, 1.000) both 3s;
            animation-delay: 1.7s;
            animation-iteration-count: 1;
            transform-origin: top right;
            animation-fill-mode: forwards;
        }

        .nebula {
            animation: 1s ease-in-out both blurred-fade-in;
            animation-delay: 1s;
        }
    }
</style>