---
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import type { CorporationObject } from '@dtypes/layout_components'

interface Props {
    corporation:            CorporationObject;
    is_user_corporation?:   boolean;
    picture_placement?:     'left' | 'right';
}

const {
    corporation,
    is_user_corporation = false,
    picture_placement = 'left',
} = Astro.props

import CorporationSlide from '@components/blocks/CorporationSlide.astro';
import Flexblock from '@components/compositions/Flexblock.astro';
---

<CorporationSlide
    id="blackomega-slide"
    ceo_image='/images/corporations/omega/ceo.png'
    ceo_character_id={1978535095}
    corporation={corporation}
    is_user_corporation={is_user_corporation}
    picture_placement={picture_placement}
>
    <img slot="ships" class="[ minokawa ]" src="/images/corporations/omega/minokawa.png" />
    <img slot="ships" class="[ vindicator ]" src="/images/corporations/omega/vindicator.png" />

    <Flexblock>
        <p>{corporation.introduction ? corporation.introduction : t('black_omega_description_fallback') }</p>
    </Flexblock>
</CorporationSlide>

<style lang="scss">
    img {
        image-rendering: pixelated;
    }

    .minokawa {
        position: absolute;
        top: 47%;
        left: 60%;
        height: auto;
        width: 30%;
        z-index: 1;
        transform: scale(0);
    }

    .vindicator {
        position: absolute;
        top: 27%;
        left: 17%;
        width: 45%;
        height: auto;
        z-index: 2;
        transform: scale(0);
    }

    @keyframes minokawa {
        from {
            transform: scale(0);
            top: 47%;
            left: 60%;
        }

        to {
            transform: scale(1);
            top: -1%;
            left: 22%;
        }
    }

    @keyframes vindicator {
        from {
            transform: scale(0);
            top: 27%;
            left: 17%;
        }

        to {
            transform: scale(1);
            top: 41%;
            left: 10%;
        }
    }
</style>

<style lang="scss" is:global>
    #blackomega-slide .ceo {
        right: 7%;
    }

    .swiper-slide-active {
        .minokawa {
            animation: minokawa cubic-bezier(0.390, 0.575, 0.565, 1.000) both 0.45s;
            animation-delay: 2s;
            animation-iteration-count: 1;
            transform-origin: top right;
            animation-fill-mode: forwards;
        }
        
        .vindicator {
            animation: vindicator cubic-bezier(0.390, 0.575, 0.565, 1.000) both 0.45s;
            animation-delay: 2.2s;
            animation-iteration-count: 1;
            transform-origin: top right;
            animation-fill-mode: forwards;
        }
    }
</style>