---
interface Props {
    is_copy:    boolean;
}

const {
    is_copy,
} = Astro.props

import BlueprintTableItemAlpine from '@components/blocks/BlueprintTableItemAlpine.astro';
import Table from '@components/blocks/Table.astro';
---

<Table id="blueprint-table">
    <template x-for="blueprint in blueprints_sorted">
        <BlueprintTableItemAlpine is_copy={is_copy} />
    </template>
    <slot />
</Table>