---
interface Props {
    is_copy:    boolean;
}

const {
    is_copy,
} = Astro.props

import BlueprintTableItemAlpine from '@components/blocks/BlueprintTableItemAlpine.astro';
import Table from '@components/blocks/Table.astro';
---

<Table>
    <template x-for="blueprint in blueprints_filtered">
        <BlueprintTableItemAlpine is_copy={is_copy} />
    </template>
</Table>