---
import { getLangFromUrl, useTranslations } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import type { CargoItem } from '@dtypes/layout_components'

interface Props {
    cargo:  CargoItem[];
}

const {
    cargo,
} = Astro.props

import Context from '@components/layout/Context.astro';
import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';
import ItemPicture from '@components/blocks/ItemPicture.astro';
import Badge from '@components/blocks/Badge.astro';
import CollapsableButton from '@components/blocks/CollapsableButton.astro';
import CargoHoldEvEIcon from '@components/icons/CargoHoldEvEIcon.astro';
---

<Flexblock
    x-data={`{
        expanded: false,
        toggle_collapse() {
            this.expanded = !this.expanded
        }
    }`}
>
    <CollapsableButton x-on:click="toggle_collapse()">
        <FlexInline>
            <CargoHoldEvEIcon />
            <h2>{t('cargo_hold')}</h2>
        </FlexInline>
    </CollapsableButton>

    <Context
        x-show="expanded"
        x-collapse.duration.0ms
        style="display: none"
    >
        {cargo.map( (item) =>
            <Badge
                size={32}
                highlight={false}
                title={`${item.amount} x ${item.name}`}
            >
                <ItemPicture item_id={item.id} slot="picture" size={32} icon_quality={32} />
            </Badge>
        )}
    </Context>
</Flexblock>