---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import type { User } from '@dtypes/jwt'

interface Props {
    character_id:       number,
    user?:              User | false,
    user_permissions?:  string[]
}

const {
    character_id,
    user = null,
    user_permissions = [],
} = Astro.props

import { get_zkillboard_character_link } from '@helpers/eve'

import FlexInline from '@components/compositions/FlexInline.astro';

import ZkillboardEvEIcon from '@components/icons/ZkillboardEvEIcon.astro';
import AssetsEvEIcon from '@components/icons/AssetsEvEIcon.astro';
import SkillsEvEIcon from '@components/icons/SkillsEvEIcon.astro';
---

<FlexInline gap='var(--space-3xs)'>
    {user && (user.is_superuser || user_permissions.includes('eveonline.view_evecharacter')) &&
        <a
            class="[ w-[32px] neocom-button ]"
            data-tippy-content={t('skillsets')}
            href={translatePath(`/character/skillsets?character_id=${character_id}`)}
            target="_blank"
        >
            <SkillsEvEIcon />
        </a>
    }
    {user && (user.is_superuser || user_permissions.includes('eveonline.view_evecharacter')) &&
        <a
            class="[ w-[32px] neocom-button ]"
            data-tippy-content={t('assets')}
            href={translatePath(`/character/assets?character_id=${character_id}`)}
            target="_blank"
        >
            <AssetsEvEIcon />
        </a>
    }
    <a
        data-tippy-content={t('zkillboard')}
        class="[ w-[32px] neocom-button ]"
        href={get_zkillboard_character_link(character_id)}
        target="_blank"
        rel="nofollow noopener noreferrer"
    >
        <ZkillboardEvEIcon />
    </a>
</FlexInline>