---
interface Props {
    pre_chevron?:   boolean;
}

const {
    pre_chevron = false,
} = Astro.props

const Element = pre_chevron ? FixedFluid : FluidFixed

import FluidFixed from '@components/compositions/FluidFixed.astro';
import FixedFluid from '@components/compositions/FixedFluid.astro';
import CaretIcon from '@components/icons/CaretIcon.astro';
---

<button {...Astro.props} type="button">
    <Element width="20px" class="[ items-center ]">
        {pre_chevron && <CaretIcon x-bind:class="expanded ? 'expanded' : 'collapsed'" /> }
        <slot />
        {!pre_chevron && <CaretIcon x-bind:class="expanded ? 'expanded' : 'collapsed'" /> }
    </Element>
</button>

<style lang="scss">
    button {
        all: unset;
        cursor: pointer;

        &:focus {
            outline: revert;
        }

        svg {
            color: var(--highlight);
        }

        .expanded {
            transform: rotate(180deg);
        }

        .collapsed {
            transform: rotate(0);
        }

        &:focus-visible {
            outline-color: var(--highlight);
            outline-style: double;
        }
    }
</style>