---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

interface Props {
    timeline_time:  string[];
    damage_in:      number[];
    damage_out:     number[];
    reps_out:       number[];
}

const {
    timeline_time,
    damage_in,
    damage_out,
    reps_out,
} = Astro.props

import Flexblock from '@components/compositions/Flexblock.astro'
import FlexInline from '@components/compositions/FlexInline.astro'

import Button from '@components/blocks/Button.astro'
import MultiRangeInput from '@components/blocks/MultiRangeInput.astro';
---

<Flexblock
    x-data={`{
        min: 0,
        max: 0,
        INC_DAMAGE_COLOR: '#b53620',
        OUT_DAMAGE_COLOR: '#2051b5',
        REPS_COLOR: '#198754',
        timeline_time: ${JSON.stringify(timeline_time)},
        damage_in: ${JSON.stringify(damage_in.map(damage => damage/10))},
        damage_out: ${JSON.stringify(damage_out.map(damage => damage/10))},
        reps_out: ${JSON.stringify(reps_out.map(rep => rep/10))},
        init() {
            const ctx = document.getElementById("damage-log-chart").getContext("2d")

            Chart.defaults.borderColor = 'rgb(255, 255, 255, 0.05)'
            Chart.defaults.color = '#ffffff';
            Chart.defaults.font.family = 'Montserrat Variable';

            const damage_log_chart = new Chart(ctx, {
                type: "line",
                data: {
                    labels: this.timeline_time,
                    datasets: [
                        {
                            label: "${t('damage_taken')}",
                            data: this.damage_in,
                            pointStyle: 'rect',
                            backgroundColor: this.INC_DAMAGE_COLOR,
                            borderColor: this.INC_DAMAGE_COLOR,
                            borderWidth: 0,
                            pointRadius: function(context) {
                                const value = context.raw
                                return value === 0 ? 0 : 2
                            }
                        },
                        {
                            label: "${t('damage_done')}",
                            data: this.damage_out,
                            pointStyle: 'rect',
                            backgroundColor: this.OUT_DAMAGE_COLOR,
                            borderColor: this.OUT_DAMAGE_COLOR,
                            borderWidth: 0,
                            pointRadius: function(context) {
                                const value = context.raw
                                return value === 0 ? 0 : 2
                            }
                        },
                        {
                            label: "${t('reps_done')}",
                            data: this.reps_out,
                            pointStyle: 'rect',
                            backgroundColor: this.REPS_COLOR,
                            borderColor: this.REPS_COLOR,
                            borderWidth: 0,
                            pointRadius: function(context) {
                                const value = context.raw
                                return value === 0 ? 0 : 2
                            }
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: "${t('ticks_axis')}"
                            },
                            grid: {
                                display: false
                            },
                            ticks: {
                                maxTicksLimit: 10
                            },
                        },
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: "${t('damage_reps_per_second')}"
                            },
                            grid: {
                                display: false
                            },
                        }
                    },
                    plugins: {
                        legend: {
                            position: "top"
                        },
                        title: {
                            display: false,
                        }
                    }
                },
                plugins: [{
                    // Plugin to draw vertical lines
                    id: 'verticalLines',
                    beforeDraw: (chart) => {
                        const ctx = chart.ctx
                        const xScale = chart.scales.x
                        const yScale = chart.scales.y

                        ctx.save()

                        const SHADE_COLOR = [
                            'rgba(181, 54, 32, 0.25)',
                            'rgba(32, 81, 181, 0.25)',
                            'rgba(25, 135, 84, 0.25)',
                        ]

                        chart.data.datasets.forEach((dataset, dataset_index) => {
                            dataset.data.forEach((value, index) => {
                                const x = xScale.getPixelForValue(index)
                                const y = yScale.getPixelForValue(value)

                                // Draw a vertical line
                                ctx.beginPath()
                                ctx.moveTo(x, y)
                                ctx.lineTo(x, yScale.getPixelForValue(0))
                                ctx.strokeStyle = SHADE_COLOR[dataset_index]
                                ctx.lineWidth = 1
                                ctx.stroke()
                            })
                        })

                        ctx.restore()
                    }
                }]
            })

            const set_axis_button = document.querySelector('.set-x-axis')
            set_axis_button.addEventListener('click', () => {
                damage_log_chart.options.scales.x.min = this.min
                damage_log_chart.options.scales.x.max = this.max
                damage_log_chart.update()
            })
        }
    }`}
>
    <div class="[ max-h-[70vh] h-screen ]">
        <canvas id="damage-log-chart"></canvas>
    </div>
    <FlexInline>
        <Button size='sm' narrow={true} class="[ set-x-axis ]">
            {t('set')}
        </Button>
        <div class="[ grow ]">
            <MultiRangeInput values={timeline_time} />
            <input type="hidden" x-model="min" />
            <input type="hidden" x-model="max" />
        </div>
    </FlexInline>
</Flexblock>