---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

interface Props {
    id?:        string;
}

const {
    id,
} = Astro.props

import { marked } from 'marked';

import Flexblock from '@components/compositions/Flexblock.astro';

import CollapsableButton from '@components/blocks/CollapsableButton.astro';
import ComponentBlock from '@components/blocks/ComponentBlock.astro';
import DebugTag from '@components/blocks/DebugTag.astro';
---

<Flexblock
    gap='0'
    x-data={`{
        expanded: true,
        location_assets_count: 0,
        collapse() {
            this.expanded = false
        },
        toggle_collapse() {
            this.expanded = !this.expanded
            global_collapse = false
        },
    }`}
    x-effect="global_collapse && collapse()"
>
    <div
        class="[ sticky-header ]"
        x-bind:style="`top: ${post_header_height - 2}px;`"
    >
        <ComponentBlock
            width='narrow'
            class="[ border-bottom ]"
        >
            <CollapsableButton class="[ !block !w-full ]" x-on:click="toggle_collapse()">
                <slot name="header">
                    <DebugTag set:html={marked.parse(t('block_missing_header_slot'))} />
                </slot>
            </CollapsableButton>
        </ComponentBlock>
    </div>

    <ComponentBlock
        width='narrow'
        x-show="expanded"
        x-collapse.duration.0ms
    >
        <slot />
    </ComponentBlock>
</Flexblock>

<style lang="scss">
    .content {
        position: relative;
    }

    .sticky-header {
        position: sticky;
        top: 137px;
        z-index: var(--sticky-z-index);

        button {
            display: block;
            width: 100%;
        }
    }
</style>