---
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import Dialog from '@components/blocks/Dialog.astro';
import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';
import Button from '@components/blocks/Button.astro';

interface Props {
    [propName: string]: any;
}
---

<div
    class="[ confirm-dialog ]"
>
    <Dialog
        x-data={`{
            close_dialog() {
                if (!confirm_dialog_open)
                    return

                var clickEvent = new MouseEvent("click", {
                    "view": window,
                    "bubbles": true,
                    "cancelable": false
                });

                document.querySelector('.confirm-dialog-backdrop').dispatchEvent(clickEvent);
            }
        }`}
        @keyup.escape.window="close_dialog()"
        x-bind:class="confirm_dialog_open ? 'open' : ''"
        x-bind:aria-hidden="confirm_dialog_open == false"
        x-bind:inert="confirm_dialog_open == false"
        breakout={true}
        class="[ w-full max-w-[500px] ]"
        aria-labelledby="confirm-dialog-title"
        aria-describedby="confirm-dialog-description"
    >
        <Flexblock gap="var(--space-l)">
            <Flexblock gap="var(--space-s)">
                <h3 id="confirm-dialog-title" x-text="confirm_dialog_title"></h3>
                <div
                    id="confirm-dialog-description"
                    class="[ confirm-dialog-content ]"
                    x-html="confirm_dialog_content"
                    x-bind:hx-get="confirm_dialog_partial ? (confirm_dialog_partial ?? false) : false"
                    x-bind:hx-trigger="confirm_dialog_partial ? 'intersect' : false"
                    x-bind:hx-swap="confirm_dialog_partial ? 'innerHTML transition:true' : false"
                    hx-target="#confirm-dialog-description"
                    hx-indicator=".loader"
                ></div>
            </Flexblock>
                
            <FlexInline justification='flex-end'>
                <Button
                    size='sm'
                    confirm-dialog-action="accept"
                    x-bind:hx-get="confirm_dialog_hx?.method == 'get' ? (confirm_dialog_hx?.url ?? false) : false"
                    x-bind:hx-post="confirm_dialog_hx?.method == 'post' ? (confirm_dialog_hx?.url ?? false) : false"
                    x-bind:hx-put="confirm_dialog_hx?.method == 'put' ? (confirm_dialog_hx?.url ?? false) : false"
                    x-bind:hx-pathc="confirm_dialog_hx?.method == 'pathc' ? (confirm_dialog_hx?.url ?? false) : false"
                    x-bind:hx-delete="confirm_dialog_hx?.method == 'delete' ? (confirm_dialog_hx?.url ?? false) : false"
                    x-bind:hx-target="confirm_dialog_hx?.target ?? false"
                    x-bind:hx-swap="confirm_dialog_hx?.swap ?? false"
                    hx-indicator=".loader"
                >
                    {t('yes')}
                </Button>
                <Button size='sm' confirm-dialog-action="cancel">{t('no')}</Button>
            </FlexInline>
        </Flexblock>
    </Dialog>

    <div
        class="confirm-dialog-backdrop"
        x-bind:class="{ open: confirm_dialog_open }"
        confirm-dialog-action="cancel"
    />
</div>

<style lang="scss">
    :global([confirm-dialog-action] *) {
        pointer-events: none !important;
    }

    :global(.confirm-dialog .confirm-dialog-content p) {
        font-size: var(--step--1);
    }

    .confirm-dialog-backdrop {
        position: fixed;
        inset: 0;
        z-index: var(--backdrop-z-index);
        display: none;

        &.open {
            display: block;
        }
    }
</style>