---
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import Dialog from '@components/blocks/Dialog.astro';
import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';
import Button from '@components/blocks/Button.astro';

interface Props {
    [propName: string]: any;
}
---

<div
    class="[ confirm-dialog ]"
>
    <Dialog
        x-bind:class="confirm_dialog_open ? 'open' : ''"
        breakout={true}
        class="[ w-full max-w-[500px] ]"
    >
        <Flexblock gap="var(--space-l)">
            <Flexblock gap="var(--space-s)">
                <h3 x-text="confirm_dialog_title"/>
                <div class="[ confirm-dialog-content ]" x-html="confirm_dialog_content" />
            </Flexblock>
                
            <FlexInline justification='flex-end'>
                <Button size='sm' confirm-dialog-action="accept">{t('yes')}</Button>
                <Button size='sm' confirm-dialog-action="cancel">{t('no')}</Button>
            </FlexInline>
        </Flexblock>
    </Dialog>

    <div
        class="confirm-dialog-backdrop"
        x-bind:class="{ open: confirm_dialog_open }"
        confirm-dialog-action="cancel"
    />
</div>

<style lang="scss">
    :global([confirm-dialog-action] *) {
        pointer-events: none !important;
    }

    .dialog {
        top: 200px;
    }

    :global(.confirm-dialog .confirm-dialog-content p) {
        font-size: var(--step--1);
    }

    .confirm-dialog-backdrop {
        position: fixed;
        inset: 0;
        z-index: var(--backdrop-z-index);
        display: none;

        &.open {
            display: block;
        }
    }
</style>