---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

import { query_string } from '@helpers/string';
import type { ApplicationBasic } from '@dtypes/layout_components'

interface Props {
    application:    ApplicationBasic,
    corporation_id: number;
    [propName: string]: any;
}

const {
    application,
    corporation_id,
    ...attributes
} = Astro.props

import FlexInline from '@components/compositions/FlexInline.astro';

import PilotBadge from '@components/blocks/PilotBadge.astro';
import Button from '@components/blocks/Button.astro';
---

<FlexInline
    class="[ corporation-application-item ]"
    justification='space-between'
    {...attributes}
>
    <PilotBadge
        class="basis-[300px]"
        character_id={application.character_id}
        character_name={application.character_name}
        corporation={{
            id: application.corporation_id,
            name: application.corporation_name,
        }}
    />
    <FlexInline>
        {application.character_id > 0 &&
            <Button
                size='sm'
                type="button"
                href={`${translatePath('/alliance/corporations/application/')}${corporation_id}/${application.id}`}
            >
                {t('view_application')}
            </Button>
        }
    </FlexInline>
</FlexInline>