---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

interface Props {
    corporation_id:   number;
}

const {
    corporation_id,
} = Astro.props


import { get_corporation_logo } from '@helpers/eve_image_server';
import { prod_error_messages } from '@helpers/env'
import type { CorporationInfo } from '@dtypes/api.minmatar.org'
import { get_corporation_info } from '@helpers/api.minmatar.org/corporations'
import { parse_eve_html } from '@helpers/eve'
import { is_html } from '@helpers/string'

let corporation:CorporationInfo | null = null
let get_corporation_info_error:string | false = false

try {
    corporation = await get_corporation_info(corporation_id)
} catch (error) {
    get_corporation_info_error = (prod_error_messages() ? t('get_corporation_info_error') : error.message)
}

const CORPORATION_MODAL_PARTIAL_URL = translatePath('/partials/corporation_modal_component')
const delay = parseInt(Astro.url.searchParams.get('delay') ?? '5')

import { get_zkillboard_corporation_link } from '@helpers/eve'

import Wrapper from '@components/compositions/Wrapper.astro'
import Flexblock from '@components/compositions/Flexblock.astro'
import FixedFluid from '@components/compositions/FixedFluid.astro'

import AllianceBadge from '@components/blocks/AllianceBadge.astro'
import VerticalCenter from '@components/blocks/VerticalCenter.astro'
import ComponentBlock from '@components/blocks/ComponentBlock.astro'
import SectionH4 from '@components/blocks/SectionH4.astro';
import ErrorRefetch from '@components/blocks/ErrorRefetch.astro';
import Markdown from '@components/blocks/Markdown.astro';

import AmarrLogo from '@components/logos/AmarrLogo.astro';
import MinmatarLogo from '@components/logos/MinmatarLogo.astro';
import CaldariLogo from '@components/logos/CaldariLogo.astro';
import GallenteLogo from '@components/logos/GallenteLogo.astro'

import ZkillboardEvEIcon from '@components/icons/ZkillboardEvEIcon.astro';

const timezones = corporation?.timezones?.length ?? 0 > 0 ? corporation?.timezones[0].split('\n') : null
---

<Wrapper
    id="corporation-info"
    class="corporation-info overflow-y-auto"
    padding_inline='var(--space-s)'
    padding_block='var(--space-s)'
    x-data={`{
        tippy_options: {
            delay: [ 100, 200 ],
            arrow: true,
        },
        init_js() {
            tippy('[data-tippy-content]', this.tippy_options)
        }
    }`}
    x-init="init_js()"
>
    {get_corporation_info_error ?
        <ErrorRefetch
            args={{
                partial: `${CORPORATION_MODAL_PARTIAL_URL}?corporation_id=${corporation_id}`,
                message: get_corporation_info_error,
                delay: delay,
                target: '#corporation-info',
            }}
        />
        :        
        <Flexblock gap='var(--space-s)'>
            <FixedFluid
                width='96px'
                class="[ items-center ]"
            >
                <picture>
                    <img loading="lazy" width="96" height="96" src={get_corporation_logo(corporation_id, 128)} />
                </picture>
                <div class="[ fluid-fixed-l ]" class="[ w-full ]" style='--fluid-fixed--width: 32px'>
                    <VerticalCenter>
                        <Flexblock gap='var(--space-3xs)' class="[ w-full ]">
                            <Flexblock gap='0' class="[ w-full ]">
                                <span class="[ text-[var(--highlight)] ]">{corporation?.corporation_name}</span>
                                {corporation?.alliance_id &&
                                    <AllianceBadge alliance={{
                                        id: corporation.alliance_id
                                    }} />
                                }
                            </Flexblock>
                            <a
                                data-tippy-content={t('zkillboard')}
                                class="[ w-[32px] neocom-button neocom-button-focus ]"
                                href={get_zkillboard_corporation_link(corporation_id)}
                                target="_blank"
                                rel="nofollow noopener noreferrer"
                            >
                                <ZkillboardEvEIcon />
                            </a>
                        </Flexblock>
                    </VerticalCenter>
                    <VerticalCenter>
                        <picture>
                            {corporation?.faction_name === 'Amarr Empire' &&
                                <AmarrLogo />
                            }
                            {corporation?.faction_name === 'Minmatar Republic' &&
                                <MinmatarLogo />
                            }
                            {corporation?.faction_name === 'Caldari State' &&
                                <CaldariLogo />
                            }
                            {corporation?.faction_name === 'Gallente Federation' &&
                                <GallenteLogo />
                            }
                        </picture>
                    </VerticalCenter>
                </div>
            </FixedFluid>
            
            {corporation?.biography !== '' &&
                <ComponentBlock>
                    <SectionH4 heading_text={t('description')}>
                        <Markdown markdown={corporation?.biography as string} />
                    </SectionH4>
                </ComponentBlock>
            }
            {(corporation?.timezones.length ?? 0) > 0 &&
                <ComponentBlock>
                    <SectionH4 heading_text={t('timezones')}>
                        <Markdown markdown={`- ${timezones?.join('- ')}` as string} />
                    </SectionH4>
                </ComponentBlock>
            }
            {(corporation?.requirements.length ?? 0) > 0 &&
                <ComponentBlock>
                    <SectionH4 heading_text={t('requirements')}>
                        <Markdown markdown={corporation?.requirements.join('') as string} />
                    </SectionH4>
                </ComponentBlock>
            }
        </Flexblock>
    }
</Wrapper>

<style lang="scss">
    .corporation-info {
        width: 100%;
        max-width: 60rem;
        max-height: min(750px, 88vh);
        height: 100%;
        position: relative;
        background-position: top left;
        background-repeat: no-repeat;
        background-color: var(--background);

        > * {
            position: relative;
            z-index: 1;
        }
    }
</style>