---
import Wrapper from '@components/compositions/Wrapper.astro';
import Flexblock from '@components/compositions/Flexblock.astro';

interface Props {
    breakout?:          boolean;
    fixed?:             boolean;
    thin?:              boolean;
    non_centered?:      boolean;
    body_full_h?:       boolean;
    full_screen?:       boolean;
    close_button?:      boolean;
    transparent?:       boolean;
    [propName: string]: any;
}

const {
    breakout = false,
    fixed = true,
    thin = false,
    non_centered = true,
    full_screen = false,
    body_full_h = false,
    close_button = true,
    transparent = false,
    ...attributes
} = Astro.props;

delete attributes.class

import TrashIcon from '@components/icons/buttons/TrashIcon.astro';
---

<div>
    <div
        role="dialog"
        class:list={[
            'dialog',
            { breakout: breakout },
            { 'non-centered': non_centered },
            { fixed: fixed },
            { transparent: transparent },
            { 'h-full': full_screen },
            Astro.props.class
        ]}
        {...attributes}
    >
        {close_button && <button class="[ dialog-close ]" x-on:click="close_dialog()"><TrashIcon /></button>}
        {thin ?
            <Wrapper
                padding_block='var(--space-3xs)'
                padding_inline='var(--space-3xs)'
                max_width='100%'
                class:list={[
                    { 'h-full': full_screen },
                ]}
            >
                <slot />
            </Wrapper>
            :
            <Wrapper
                padding_block='var(--space-m)'
                padding_inline='var(--space-m)'
                max_width='100%'
                class:list={[
                    { 'h-full': full_screen },
                ]}
            >
                <Flexblock
                    gap='var(--space-l)'
                    class:list={[
                        { 'h-full': full_screen },
                        { 'justify-between!': full_screen },
                    ]}
                >
                    <slot name="header" />
                    <div class:list={[
                            'cover-body',
                            { 'h-full': body_full_h }
                        ]}
                    >
                        <slot />
                    </div>
                    <slot name="footer" />
                </Flexblock>
            </Wrapper>
        }
    </div>

    {transparent &&
        <div class:list={[ { 'transparent-dialog dark-transparency': transparent } ]} />
    }
</div>

<style lang="scss" is:global>
    .transparent-dialog {
        position: fixed !important;
        inset: 0;
        z-index: var(--backdrop-z-index);
        opacity: 0;
        pointer-events: none;
        transition: all cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.25s;

        &:before {
            backdrop-filter: blur(0px);
        }
    }

    .open + .transparent-dialog {
        opacity: 1;
        pointer-events: all;
        backdrop-filter: blur(var(--transparency-backdrop-blur));
    }

    .dialog {
        --pop-up--margin: 0;
        --dialog-max-width: 700px;
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.97);
        border: solid 1px var(--border-color);
        pointer-events: none;
        box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.75);
        z-index: var(--dialog-z-index);
        background-color: var(--light-transparency-background-mobile);
        max-width: var(--dialog-max-width);
        opacity: 0;
        transition: all cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.25s;

        &.transparent {
            box-shadow: none;
            border: none;
            background-color: transparent;
        }

        &.non-centered {
            transform: translateX(-50%) scale(0.97);
            top: 75px;
        }

        &:not(.breakout) {
            max-width: calc(100% - ( var(--pop-up--margin) * 2 ));
            max-height: calc(100% - ( var(--pop-up--margin) * 2 ));
            overflow: auto;
        }

        &.open {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
            pointer-events: all;

            &.non-centered {
                transform: translateX(-50%) scale(1);
            }
        }

        &.fixed {
            position: fixed;
        }

        .dialog-close {
            border: none;
            position: absolute;
            right: 10px;
            top: 3px;
            display: flex;
            background-color: transparent;
            color: var(--highlight);
            z-index: var(--dialog-close-z-index);
            cursor: pointer;
            padding: 6px 4px 20px 27px;

            &:focus-visible {
                outline: none;

                svg {
                    transform: scale(1.5);
                }
            }

            svg {
                transition: var(--fast-transition);
                width: 12px;
            }
        }
    }
</style>