---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

import FlexInline from '@components/compositions/FlexInline.astro';

import StylessButton from '@components/blocks/StylessButton.astro';
import DiscordIcon from '@components/icons/buttons/DiscordIcon.astro';
---

<StylessButton
    href='https://discord.com/invite/3hZfahmkFx'
    target="_blank"
    rel="nofollow noopener noreferrer"
    {...Astro.props}
>
    <FlexInline
        class="[ items-center text-[var(--highlight)] ]"
        gap='var(--space-2xs)'
    >
        <DiscordIcon />
        <p class="[ w-fit ]">{t('check_our_discord')}</p>
    </FlexInline>
</StylessButton>