---
import CollapsableButton  from "@components/blocks/CollapsableButton.astro";
---

<div
    {...Astro.props}
    x-data={`{
        id: $id('dropdown'),
        expanded: false,
        close() {
            this.expanded = false
        },
        toggle() {
            this.expanded = this.expanded ? this.close() : true
        }
    }`}
    @keydown.escape.prevent.stop="close()"
>
    <CollapsableButton
        @click="toggle()"
        :id="id"
    >
        <slot name="button" />
    </CollapsableButton>
 
    <div
        class="[ light-transparency ][ px-[var(--space-3xs)] py-[var(--space-3xs)] z-[var(--tooltips-z-index)] ]"
        x-show="expanded"
        x-anchor.bottom-end="document.getElementById(id)"
        style="display: none"
        @click.outside="close()"
    >
        <slot />
    </div>
</div>