---
interface Props {
    autoplay?:          boolean;
    initial_slide?:     number;
}

const {
    autoplay = true,
    initial_slide = 1,
} = Astro.props

import FlexInline from '@components/compositions/FlexInline.astro';
---

<FlexInline
    class="[ swiper-wrapper ][ select-none w-full ]"
    gap='0'
    x-data={`{
        swiper: null,
        init() {
            this.swiper = new Swiper('.fleet-feed', {
                initialSlide: ${initial_slide},
                slidesPerView: 1,
                direction: 'vertical',
                spaceBetween: 4,
                pagination: {
                    clickable: true,
                    dynamicBullets: true,
                    el: ".feed-swiper-pagination",
                },
                mousewheel: {
                    forceToAxis: true,
                },
                loop: false,
                fadeEffect: {
                    crossFade: true
                },
                ${autoplay ? `autoplay: {
                    delay: 10000,
                }` : ''}
            });
        }
    }`}
>
    <slot />
</FlexInline>

<div class="feed-swiper-pagination swiper-pagination"></div>

<style lang="scss">
    :global(.swiper-pagination-bullet) {
        --swiper-pagination-bullet-border-radius: 0;
    }

    .feed-swiper-pagination {
        max-height: 64px;
    }

    .swiper-pagination {
        --swiper-pagination-color: var(--fleet-yellow);
        --swiper-pagination-bullet-inactive-color: var(--highlight);
        --swiper-pagination-bullet-inactive-opacity: 1;
    }

    .swiper-wrapper {
        flex-wrap: nowrap;
        align-items: flex-start;
        max-height: 64px;
    }
</style>