---
import type { FittingGroup } from '@dtypes/layout_components';

interface Props {
    fitting_groups: FittingGroup[];
}

const {
    fitting_groups,
} = Astro.props

import Flexblock from '@components/compositions/Flexblock.astro';
import FitSlot from '@components/blocks/FitSlot.astro';
import ComponentBlock from '@components/blocks/ComponentBlock.astro';
---

<Flexblock gap='var(--space-3xs)'>
    {fitting_groups.map( (group) =>
        <ComponentBlock width='narrow'>
            <Flexblock class="[ w-full ]" gap='var(--space-m)'>
                <h2>{group.name}</h2>

                <Flexblock role="list" gap="var(--space-3xs)">
                    {group.modules.map( (module) =>
                        <FitSlot role="listitem" fittable={module} />
                    )}
                </Flexblock>
            </Flexblock>
        </ComponentBlock>
    )}
</Flexblock>

<style lang="scss">
    .wrapper {
        display: flex;
        align-items: center;
    }
</style>