---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

import type { FleetItem } from '@dtypes/layout_components'

interface Props {
    fleets:     FleetItem[];
    history?: boolean;
}

const {
    fleets,
    history = false,
} = Astro.props

const FLEET_LIST_PARTIAL_URL = translatePath(`/partials/fleet_list_component?upcoming=${JSON.stringify(true)}`)

import Flexblock from '@components/compositions/Flexblock.astro';

import FleetListItem from '@components/blocks/FleetListItem.astro';
import Button from '@components/blocks/Button.astro';
import ButtonStack from '@components/blocks/ButtonStack.astro';

import AddIcon from '@components/icons/buttons/AddIcon.astro';

const hx_attrs = {
    ...(!history && { 'hx-get': FLEET_LIST_PARTIAL_URL }),
    ...(!history && { 'hx-trigger': 'load delay:300s' }),
    ...(!history && { 'hx-swap': 'innerHTML transition:true' }),
    ...(!history && { 'hx-target': '.fleet-list-container' }),
    ...(!history && { 'hx-indicator': '.loader' }),
}
---

<Flexblock
    role="list"
    gap='var(--space-3xs)'
    {...hx_attrs}
>

    {fleets.length == 0 &&
        <Flexblock gap='var(--space-xl)' centered={true}>
            <p>{t('fleets.upcoming.empty_message')}</p>
        </Flexblock>
    }
    
    {fleets.map((fleet) =>
        <FleetListItem role="listitem" fleet={fleet} history={history} />
    )}

</Flexblock>