---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import type { CorporationObject } from '@dtypes/layout_components'

interface Props {
    id:                     string;
    picture_placement:      'left' | 'right',
    user_corporation_id:    number,
    corporations:           CorporationObject[],
}

const {
    id,
    picture_placement = 'left',
    user_corporation_id,
    corporations,
} = Astro.props

const MINMATAR_FLEET_ID = 99011978

import { get_alliance_logo } from '@helpers/eve_image_server';

import FixedFluid from "@components/compositions/FixedFluid.astro"
import Flexblock from "@components/compositions/Flexblock.astro"

import TextBox from '@components/layout/TextBox.astro'

import VerticalCenter from "@components/blocks/VerticalCenter.astro"
import CorporationsList from '@components/blocks/CorporationsList.astro';

import Wrapper from '@components/compositions/Wrapper.astro'
---

<FixedFluid
    id={id}
    class="[ corporation-intro ][ w-full items-center ]"
    width='650px'
    breakpoint='30%'
    fluid_first={picture_placement === 'left'}
>
    <Wrapper
        padding_block='var(--space-s)'
        padding_inline='var(--space-s)'
    >
        <Flexblock gap='var(--space-xl)'>
            <VerticalCenter>
                <FixedFluid width='64px' class="[ items-center w-full ]">
                    <picture class="[ border ]">
                        <img loading="lazy" src={get_alliance_logo(MINMATAR_FLEET_ID, 64)} width="64" height="64" alt={`${t('minmatar_fleet_alliance')} ${t('logo')}`} />
                    </picture>
                    <h2>{t('minmatar_fleet_new')}</h2>
                </FixedFluid>
            </VerticalCenter>
            <TextBox>
                <p>Salute to our newly joined corporations and bear with them here while we add their cool slide.</p>
            </TextBox>
            <Flexblock gap="var(--space-xl)">
                <CorporationsList
                    corporations={corporations}
                    user_corporation_id={user_corporation_id}
                />
            </Flexblock>
        </Flexblock>
    </Wrapper>
    
    <div class="[ corporation-identity ]">
        <picture class="[ justify-center ]">
            <img class="[ ceos ]" src="/images/corporations/fleet/ceos.png" />
        </picture>
    </div>
</FixedFluid>

<style lang="scss">
    .corporation-intro {
        position: relative;
    }

    h2 {
        font-size: var(--step-2);
    }

    img {
        image-rendering: pixelated;
    }

    .corporation-identity {
        width: 100%;
        justify-content: center;
        display: flex;

        @media screen and (max-width: 1279px) {
            display: none;
        }
    }

    picture {
        aspect-ratio: 1 / 1;
        max-width: 900px;
        position: relative;
        width: 100%;
        display: flex;

        &.ceo-right {
            justify-content: flex-end;
        }
    }

    .ceos {
        z-index: 3;
        position: relative;
        transform: scale(0.85);
        height: 99%;
        opacity: 0;
        filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.75));
        mask-image: linear-gradient(to bottom, black 70%, transparent 95%);

        img {
            width: auto;
            height: 100%;
        }
    }

    @keyframes ceos {
        from {
            transform: scale(0.85);
            opacity: 0;
        }

        to {
            transform: scale(1);
            opacity: 1;
        }
    }
</style>

<style lang="scss" is:global>
    .swiper-slide-active {
        .ceos {
            animation: ceos ease-out 1.5s;
            animation-delay: 0.5s;
            animation-iteration-count: 1;
            transform-origin: bottom;
            animation-fill-mode: forwards;
        }
    }
</style>