---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import type { FleetItem } from '@dtypes/layout_components'

interface Props {
    fleets:         FleetItem[];
    history?:       boolean;
    init_tooltips:  boolean;
}

const {
    fleets,
    history = false,
    init_tooltips,
} = Astro.props

import Flexblock from '@components/compositions/Flexblock.astro';
import Grid from '@components/compositions/Grid.astro';

import FleetListItem from '@components/blocks/FleetListItem.astro';
---

<Grid
    class="[ w-full grid-fill ]"
    row_gap="var(--space-3xs)"
    column_gap="var(--space-3xs)"
    min_item_width="350px"
    x-data={`{
        init() {
            const timer = setInterval(() => {
                $dispatch('tick')
            }, 5000)

            function clearTimer(event) {
                clearInterval(timer)
                event.currentTarget.removeEventListener('astro:after-swap', clearTimer)
            }

            document.addEventListener('astro:after-swap', clearTimer)
        }
    }`}
>
    {fleets.map((fleet) =>
        <FleetListItem
            role="listitem"
            fleet={fleet}
            history={history}
            init_tooltips={init_tooltips}
        />
    )}
</Grid>

{fleets.length == 0 &&
    <Flexblock gap='var(--space-xl)' centered={true}>
        <p>{t('fleets.upcoming.empty_message')}</p>
    </Flexblock>
}