---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

interface Props {
    is_contract_page?:    boolean;
}

const {
    is_contract_page = false,
} = Astro.props

import Flexblock from '@components/compositions/Flexblock.astro';
import FixedFluid from '@components/compositions/FixedFluid.astro';

import Markdown from '@components/blocks/Markdown.astro';

import TutorialIcon from '@components/icons/TutorialIcon.astro';
---

<Flexblock gap='var(--space-l)'>
    <FixedFluid width="48" class="[ items-center ]">
        <TutorialIcon />
        <h2>{t('freight.calculator.faq_title')}</h2>
    </FixedFluid>
    <div class="[ prose ]">
        {!is_contract_page &&
            <h4>{t('freight.calculator.faq_4_title')}</h4>
            <Markdown
                markdown={t('freight.calculator.faq_4_text')}
                inline={true}
            />
        }
        {is_contract_page &&
            <h4>{t('freight.contract.faq_1_title')}</h4>
            <p>{t('freight.contract.faq_1_text')}</p>
        }
        <h4>{t('freight.calculator.faq_1_title')}</h4>
        <p>{t('freight.calculator.faq_1_text')}</p>
        <h4>{t('freight.calculator.faq_3_title')}</h4>
        <Markdown
            markdown={t('freight.calculator.faq_3_text')}
            inline={true}
        />
    </div>
</Flexblock>

<style lang="scss">
    h4 {
        font-size: 1rem;
    }
</style>