---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

import Flexblock from '@components/compositions/Flexblock.astro';
import ComponentBlock from '@components/blocks/ComponentBlock.astro';
import CorporationList from '@components/blocks/CorporationList.astro';
import AllianceList from '@components/blocks/AllianceList.astro';
import SwitchSquare from './SwitchSquare.astro';

interface Props {
    [propName: string]: any;
}

const {
    ...attributes
} = Astro.props;

delete attributes.class
---

<ComponentBlock
    x-data={`{
        auto_accept_corporation: false,
        auto_accept_alliance: false,
    }`}
    {...attributes}
>
    <Flexblock gap='var(--space-l)'>
        <h2>{t('auto_accept_group_policy')}</h2>
        
        <Flexblock gap='var(--space-s)' class="[ w-full ]">
            <SwitchSquare class="[ w-full ]" label={t('by_corporation')} description={t('auto_accept_corporation_switch')} x-model="auto_accept_corporation" />
            <CorporationList readonly={false} empty_text={false} class="disabled" x-bind:class="{ disabled: !auto_accept_corporation }" />
        </Flexblock>

        <Flexblock gap='var(--space-s)' class="[ w-full ]">
            <SwitchSquare class="[ w-full ]" x-model="auto_accept_alliance" label={t('by_alliance')} description={t('auto_accept_alliance_switch')} />
            <AllianceList readonly={false} empty_text={false} class="disabled" x-bind:class="{ disabled: !auto_accept_alliance }" />
        </Flexblock>

        <Flexblock gap='var(--space-s)' class="[ w-full ]">
            <SwitchSquare class="[ w-full ]" label={t('by_skill')} description={t('auto_accept_skills_switch')} />
            <p>No skills found.</p>
        </Flexblock>
    </Flexblock>
</ComponentBlock>