---
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import Switch from '@components/blocks/Switch.astro';
import ComponentBlock from '@components/blocks/ComponentBlock.astro';
import Flexblock from '@components/compositions/Flexblock.astro';
import CorporationList from './CorporationList.astro';
import AllianceList from './AllianceList.astro';
---

<ComponentBlock
    x-data={`{
        auto_accept_corporation: false,
        auto_accept_alliance: false,
    }`}
>
    <Flexblock class="[ w-full ]" gap='var(--space-2xl)'>
        <h2>{t('auto_accept_group_policy')}</h2>
        
        <Flexblock gap='var(--space-xl)'>
            <Switch class="[ w-full ]" x-model="auto_accept_corporation">Enable to auto-accept pilots from the following corporations</Switch>
            <CorporationList class="disabled" x-bind:class="{ disabled: !auto_accept_corporation }" />
        </Flexblock>

        <Flexblock gap='var(--space-xl)'>
            <Switch class="[ w-full ]" x-model="auto_accept_alliance">Enable to auto-accept pilots within the following alliance</Switch>
            <AllianceList class="disabled" x-bind:class="{ disabled: !auto_accept_alliance }" />
        </Flexblock>

        <Flexblock gap='var(--space-xl)'>
            <Switch class="[ w-full ]">Enable to auto-accept pilots with the following skills</Switch>
            <p>No skills added.</p>
        </Flexblock>
    </Flexblock>
</ComponentBlock>