---
import { getLangFromUrl, useTranslations, } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';

import Kbd from '@components/blocks/Kbd.astro';
---

<Flexblock id="hotkeys">
    <h2>{t('hotkeys')}</h2>

    <Flexblock gap='var(--space-3xs)'>
        <FlexInline justification='space-between'>
            <small>{t('quick_navigation')}</small>
            <FlexInline gap="var(--space-3xs)">
                <Kbd>Ctrl</Kbd>
                <span class="[ text-[var(--highlight)] ]">+</span>
                <Kbd>Shift</Kbd>
                <span class="[ text-[var(--highlight)] ]">+</span>
                <Kbd>Q</Kbd>
            </FlexInline>
        </FlexInline>

        <FlexInline justification='space-between'>
            <small>{t('membership_finder')}</small>
            <FlexInline gap="var(--space-3xs)">
                <Kbd>Ctrl</Kbd>
                <span class="[ text-[var(--highlight)] ]">+</span>
                <Kbd>Shift</Kbd>
                <span class="[ text-[var(--highlight)] ]">+</span>
                <Kbd>F</Kbd>
            </FlexInline>
        </FlexInline>

        <FlexInline justification='space-between'>
            <small>{t('close_dialogs')}</small>
            <FlexInline gap="var(--space-3xs)">
                <Kbd>Esc</Kbd>
            </FlexInline>
        </FlexInline>
    </Flexblock>
</Flexblock>