---
interface Props {
    show_prop:  string;
    error_prop: string;
}

const {
    show_prop,
    error_prop,
} = Astro.props
---

<div class="[ relative ]">
    <slot />
    <span
        x-show={show_prop}
        x-bind:data-tippy-content={error_prop}
        x-data={`{
            tippy_instance: null,
            init_tippy() {
                if (this.tippy_instance)
                    this.tippy_instance.destroy()

                this.tippy_instance = tippy($el, tippy_options)
            }
        }`}
        x-effect={`${error_prop} && init_tippy()`}
    >
        ⚠️
    </span>
</div>

<style lang="scss">
    span {
        position: absolute;
        right: var(--space-s-m);
        top: 50%;
        transform: translateY(-50%);
    }
</style>