---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

interface Props {
    can_view_timers?:           boolean;
    can_view_moons?:            boolean;
    can_add_moons?:             boolean;
    is_superuser?:              boolean;
}

const {
    can_view_timers = false,
    can_view_moons = false,
    can_add_moons = false,
    is_superuser = false,
} = Astro.props

import Wrapper from '@components/compositions/Wrapper.astro';
import Grid from '@components/compositions/Grid.astro';

import Button from '@components/blocks/Button.astro';
import Tile from '@components/blocks/Tile.astro';
import AddMoonButton from '@components/blocks/AddMoonButton.astro';

import CalendarEVEIcon from '@components/icons/CalendarEVEIcon.astro';
import PlanetEVEIcon from '@components/icons/PlanetEVEIcon.astro';
import LogEVEIcon from '@components/icons/LogEVEIcon.astro';
---

<Wrapper
    class="[ intel-reel ]"
    padding_block='0'
    padding_inline='0'
    max_width='100%'
>
    <Grid
        class="[ w-full grid-fill ]"
        row_gap="var(--space-3xs)"
        column_gap="var(--space-3xs)"
        min_item_width="580px"
    >
        {can_add_moons &&
            <AddMoonButton
                size='sm'
                color='fleet-red'
                iconed={false}
                hidden={true}
            />
        }    
                
        {can_view_timers &&
            <Tile
                title={t('structure_timers')}
                description={t('intel.timers.leading_text')}
                cover='/images/timers-tile-background.webp'
            >
                <CalendarEVEIcon class="[ ml-[-7px] ]" slot="icon" />
                
                <Button size='sm' href={translatePath('/intel/timers/active/')}>
                    {t('browse')}
                </Button>
                <Button size='sm' href={translatePath('/intel/timers/add/')}>
                    {t('add_timer')}
                </Button>
            </Tile>
        }

        {(can_add_moons || can_view_moons) &&
            <Tile
                title={t('moon_tracking')}
                description={t('intel.moon_tracking.leading_text')}
                cover='/images/moon-tracking-tile-background.webp'
            >
                <PlanetEVEIcon class="[ ml-[-7px] ]" slot="icon" />
                    
                {can_view_moons &&
                    <Button size='sm' href={translatePath('/intel/moons/')}>
                        {t('browse')}
                    </Button>
                }
                {can_add_moons &&
                    <Button
                        size='sm'
                        x-on:click="document.getElementById('add-moon-button').click()"
                    >
                        {t('add_moon')}
                    </Button>
                }
            </Tile>
        }

        <Tile
            title={t('combat_log_analyzer')}
            description={t('intel.combatlog.leading_text')}
            cover='/images/combatlog-tile-background.webp'
        >
            <LogEVEIcon class="[ ml-[-6px] ]" slot="icon" />
                
            <Button size='sm' href={translatePath('/intel/combatlog/')}>
                {t('enter')}
            </Button>
        </Tile>
    </Grid>
</Wrapper>