---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import type { CorporationObject } from '@dtypes/layout_components'

import { query_string } from '@helpers/string';

interface Props {
    corporation:            CorporationObject;
    is_user_corporation?:   boolean;
    picture_placement?:     'left' | 'right';
    
}

const {
    corporation,
    is_user_corporation = false,
    picture_placement = 'left',
} = Astro.props

const ANGSKEL_ISSOD_ID = 856157051
const PSYPHER_LOCKE_ID = 90754906

import CorporationSlide from '@components/blocks/CorporationSlide.astro';
import StylessButton from '@components/blocks/StylessButton.astro';
---

<CorporationSlide
    id="l34rn-slide"
    ceo_image='/images/corporations/l34rn/ceo.png'
    ceo_character_id={PSYPHER_LOCKE_ID}
    corporation={corporation}
    is_user_corporation={is_user_corporation}
    picture_placement='left'
    mirror_slide={picture_placement === 'right'}
>
    <StylessButton
        class="[ co-ceo ]"
        slot="coceo"
        x-data={`{
            show_character_modal() {
                show_modal({
                    partial: '${translatePath('/partials/character_modal_component/')}?${query_string({
                        character_id: ANGSKEL_ISSOD_ID.toString(),
                    })}',
                })
            }
        }`}
        x-on:click="show_character_modal()"
    >
        <img src="/images/corporations/l34rn/co-ceo.png" height="496" width="940" />
    </StylessButton>

    <img slot="ships" class="[ vigil ]" src="/images/corporations/l34rn/vigil.png" />
    <img slot="ships" class="[ burst ]" src="/images/corporations/l34rn/burst.png" />
    <img slot="ships" class="[ talwar ]" src="/images/corporations/l34rn/talwar.png" />

    <p>{corporation.introduction ? corporation.introduction : t('l34rn_description_fallback') }</p>
</CorporationSlide>

<style lang="scss">
    img {
        image-rendering: pixelated;
    }

    .co-ceo {
        z-index: 11;
        position: absolute;
        cursor: pointer;
        transform: scale(0.5);
        opacity: 0;
        height: 99%;
        left: 5%;
        top: 0;

        img {
            mask-image: linear-gradient(to bottom, black 70%, transparent 95%);
            width: auto;
            height: 100%;
        }

        &:focus-visible {
            outline: none;
        }

        &:focus-visible,
        &:hover {
            img {
                filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.75));
            }
        }
    }

    .vigil {
        position: absolute;
        top: 40%;
        left: 5%;
        height: auto;
        width: 21%;
        z-index: 3;
        transform: scale(0);
    }

    .burst {
        position: absolute;
        top: 34%;
        left: -40%;
        width: 60%;
        height: auto;
        z-index: 2;
        transform: scale(0);
    }

    .talwar {
        position: absolute;
        left: -45%;
        top: 49%;
        width: 69%;
        height: auto;
        z-index: 1;
        transform: scale(0);
    }

    @keyframes vigil {
        from {
            transform: scale(0);
            top: 35%;
            left: 5%;
        }

        to {
            transform: scale(1);
            top: 4%;
            left: 52%;
        }
    }

    @keyframes burst {
        from {
            transform: scale(0);
            top: 34%;
            left: -40%;
        }

        to {
            transform: scale(1);
            top: 41%;
            left: 44%;
        }
    }

    @keyframes talwar {
        from {
            transform: scale(0);
            left: -45%;
            top: 49%;
        }

        to {
            transform: scale(1);
            top: 52%;
            left: 26%;
        }
    }    

    @keyframes coceo {
        from {
            transform: scale(0.5);
            opacity: 0;
        }

        to {
            transform: scale(1);
            opacity: 1;
        }
    }
</style>

<style lang="scss" is:global>
    #l34rn-slide .ceo {
        left: -10%;
    }

    .swiper-slide-active {
        .vigil {
            animation: vigil cubic-bezier(0.390, 0.575, 0.565, 1.000) both 0.45s;
            animation-delay: 2s;
            animation-iteration-count: 1;
            transform-origin: top right;
            animation-fill-mode: forwards;
        }
        
        .burst {
            animation: burst cubic-bezier(0.390, 0.575, 0.565, 1.000) both 0.45s;
            animation-delay: 2.2s;
            animation-iteration-count: 1;
            transform-origin: top right;
            animation-fill-mode: forwards;
        }
        
        .talwar {
            animation: talwar cubic-bezier(0.390, 0.575, 0.565, 1.000) both 0.45s;
            animation-delay: 2.4s;
            animation-iteration-count: 1;
            transform-origin: top right;
            animation-fill-mode: forwards;
        }

        #l34rn-slide .co-ceo {
            animation: coceo ease-out 1.5s;
            animation-delay: 0.25s;
            animation-iteration-count: 1;
            transform-origin: bottom;
            animation-fill-mode: forwards;
        }
    }
</style>