---
interface Props {
    gap:    number;
}

const {
    gap
} = Astro.props

import Wrapper from '@components/compositions/Wrapper.astro';

import LandingSwiper from '@components/blocks/LandingSwiper.astro';
---

<Wrapper
    class="[ locations-reel ]"
    padding_block='0'
    padding_inline='0'
    max_width='100%'
>
    <div
        class="[ swiper ][ w-full ]"
        id="locations-list"
    >
        <LandingSwiper swiper_selector='#locations-list' pagination={false} gap={gap} align='center'>
            <slot />
        </LandingSwiper>
    </div>

    <div id="locations-list-button-prev" class="[ swiper-button-prev ]"></div>
    <div id="locations-list-button-next" class="[ swiper-button-next ]"></div>
</Wrapper>

<style lang="scss">
    .locations-reel {
        position: relative;
    }

    .swiper-button-prev,
    .swiper-button-next {
        --swiper-navigation-color: var(--highlight);
        --swiper-navigation-sides-offset: -32px;
        --swiper-navigation-size: 22px;

        opacity: 0;
    }

    .swiper-initialized ~ .swiper-button-prev,
    .swiper-initialized ~ .swiper-button-next {
        opacity: 1;
    }

    .swiper-initialized ~ .swiper-button-next.swiper-button-disabled,
    .swiper-initialized ~ .swiper-button-prev.swiper-button-disabled {
        opacity: 0;
    }

    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
        --swiper-navigation-color: var(--fleet-yellow);
        opacity: 1;
    }

    .swiper-slide {
        width: fit-content;
        min-width: 200px;
    }
</style>