---
interface Props {
    gap:    number;
}

const {
    gap
} = Astro.props
---

<div class="[ swiper-slide ]" style={`margin-right: ${gap}px`}>
    <slot />
</div>

<style lang="scss">
    .swiper-slide {
        width: fit-content;
    }
</style>