---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

interface Props {
    is_superuser?:              boolean;
}

const {
    is_superuser = false,
} = Astro.props

import Wrapper from '@components/compositions/Wrapper.astro';
import Grid from '@components/compositions/Grid.astro';

import Button from '@components/blocks/Button.astro';
import Tile from '@components/blocks/Tile.astro';

import MarketDeliveriesEVEIcon from '@components/icons/MarketDeliveriesEVEIcon.astro';
import ContractsServiceEvEIcon from '@components/icons/ContractsServiceEvEIcon.astro';
import FreightServiceEvEIcon from '@components/icons/FreightServiceEvEIcon.astro';
---

<Wrapper
    class="[ market-reel ]"
    padding_block='0'
    padding_inline='0'
    max_width='100%'
>
    <Grid
        class="[ w-full grid-fill ]"
        row_gap="var(--space-3xs)"
        column_gap="var(--space-3xs)"
        min_item_width="580px"
    >
        <Tile
            title={t('contracts.page_title')}
            description={t('contracts.leading_text')}
            cover='/images/contracts-tile-background.webp'
        >
            <ContractsServiceEvEIcon class="[ ml-[-7px] ]" slot="icon" />
                
            <Button size='sm' href={translatePath('/market/contracts/')}>
                {t('view_market_expectations')}
            </Button>
        </Tile>

        <Tile
            title={t('sell_orders.page_title')}
            description={t('sell_orders.leading_text')}
            cover='/images/sellorders-tile-background.webp'
        >
            <MarketDeliveriesEVEIcon class="[ ml-[-7px] ]" slot="icon" />
            
            <Button size='sm' href={translatePath('/market/sell_orders/')}>
                {t('browse')}
            </Button>
            <Button size='sm' href={translatePath('/market/sell_orders/standard')}>
                {t('standard_view')}
            </Button>
        </Tile>

        <Tile
            title={t('freight.page_title')}
            description={t('freight.leading_text')}
            cover='/images/freight-tile-background.webp'
        >
            <FreightServiceEvEIcon class="[ ml-[-7px] ]" slot="icon" />

            <Button size='sm' href={translatePath('/market/freight/calculator/')}>
                {t('freight.calculator.page_title')}
            </Button>
            <Button size='sm' href={translatePath('/market/freight/contracts/')}>
                {t('freight_contracts.page_title')}
            </Button>
        </Tile>
    </Grid>
</Wrapper>