---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

interface Props {
    is_superuser?:              boolean;
}

const {
    is_superuser = false,
} = Astro.props

import FlexInline from '@components/compositions/FlexInline.astro';
import Wrapper from '@components/compositions/Wrapper.astro';

import LandingSwiper from '@components/blocks/LandingSwiper.astro';
import Button from '@components/blocks/Button.astro';
import SwiperCard from '@components/blocks/SwiperCard.astro';

import ContractsServiceEvEIcon from '@components/icons/ContractsServiceEvEIcon.astro';
import FreightServiceEvEIcon from '@components/icons/FreightServiceEvEIcon.astro';
---

<Wrapper
    class="[ ships-reel ]"
    padding_block='0'
    padding_inline='0'
    max_width='100%'
>
    <div
        class="[ swiper ][ w-full pb-10! ]"
        id="ships-list"
    >
        <LandingSwiper>
            <div class="[ swiper-slide ]" style="margin-right: 5px">
                <SwiperCard
                    class="[ animate-delay-0 ]"
                    title={t('freight.page_title')}
                    description={t('freight.leading_text')}
                    cover='/images/freight-tile-background.jpg'
                >
                    <FreightServiceEvEIcon class="[ ml-[-7px] ]" slot="icon" />

                    <Button size='sm' href={translatePath('/market/freight/standard/')}>
                        {t('standard_freight')}
                    </Button>
                    <Button size='sm' href={translatePath('/market/freight/contracts/')}>
                        {t('freight_contracts.page_title')}
                    </Button>
                </SwiperCard>
            </div>

            <div class="[ swiper-slide ]" style="margin-right: 5px">
                <SwiperCard
                    class="[ animate-delay-200 ]"
                    title={t('contracts.page_title')}
                    description={t('contracts.leading_text')}
                    cover='/images/contracts-tile-background.jpg'
                >
                    <ContractsServiceEvEIcon class="[ ml-[-7px] ]" slot="icon" />
                        
                    <Button size='sm' href={translatePath('/market/contracts/')}>
                        {t('view_market_expectations')}
                    </Button>
                    <Button size='sm' href={translatePath('/market/sell-orders/')}>
                        {t('view_sell_orders')}
                    </Button>
                </SwiperCard>
            </div>
        </LandingSwiper>
    </div>

    <div class="[ swiper-button-prev hidden lg:block! ]"></div>
    <div class="[ swiper-button-next hidden lg:block! ]"></div>
</Wrapper>

<style lang="scss">
    .ships-reel {
        position: relative;
    }

    .swiper-button-prev,
    .swiper-button-next {
        --swiper-navigation-color: var(--highlight);
        --swiper-navigation-sides-offset: -46px;

        opacity: 0;
    }

    .swiper-initialized ~ .swiper-button-prev,
    .swiper-initialized ~ .swiper-button-next {
        opacity: 1;
    }

    .swiper-initialized ~ .swiper-button-next.swiper-button-disabled,
    .swiper-initialized ~ .swiper-button-prev.swiper-button-disabled {
        opacity: 0;
    }

    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
        --swiper-navigation-color: var(--fleet-yellow);
        opacity: 1;
    }

    .swiper-button-prev {
        transform: translateY(-1.25rem);
    }

    .swiper-button-next {
        transform: translateY(-1.25rem);
    }

    .swiper-slide {
        width: min(100%, 700px);
    }
</style>