---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

import type { TribeMembership } from '@dtypes/api.minmatar.org'

interface Props {
    requests:   TribeMembership[];
    init_tooltips:      boolean;
}

const {
    requests,
    init_tooltips,
} = Astro.props

import Flexblock from '@components/compositions/Flexblock.astro';

import MembershipRequestItem from '@components/blocks/MembershipRequestItem.astro';
import Table from '@components/blocks/Table.astro';
---

{requests.length > 0 &&
    <Flexblock gap='var(--space-l)'>
        <h4 class="[ group-title ]">{t('membership_requests')}</h4>

        <Table>
            {requests.map(request =>
                <div x-show="show_item($el)">
                    <MembershipRequestItem request={request} init_tooltips={init_tooltips} />
                </div>
            )}
            <p class="[ no-result-text ]">{t('no_results')}</p>
        </Table>
    </Flexblock>
}

<style lang="scss">
    :not([style="display: none;"]) ~ .no-result-text {
        display: none;
    }
</style>