---
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import Dialog from '@components/blocks/Dialog.astro';
import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';
import Button from '@components/blocks/Button.astro';
import TrashIcon from '@components/icons/buttons/TrashIcon.astro';

interface Props {
    [propName: string]: any;
}
---

<div
    class="[ modal ]"
>
    <Dialog
        x-bind:class="modal_open ? 'open' : ''"
        breakout={true}
        class="[ w-full max-w-[1000px] ]"
    >
        <Flexblock gap="var(--space-l)">
            <Flexblock gap="var(--space-s)">
                <FlexInline justification='space-between'>
                    <h3 x-text="modal_title"/>
                    <Button size='sm' modal-action="cancel">
                        <TrashIcon slot="icon" />
                    </Button>
                </FlexInline>
                <div class="[ modal-content ]" x-html="modal_content" />
            </Flexblock>
        </Flexblock>
    </Dialog>

    <div
        class="modal-backdrop"
        x-bind:class="{ open: modal_open }"
        modal-action="cancel"
    />
</div>

<style lang="scss">
    :global([modal-action] *) {
        pointer-events: none !important;
    }

    :global(.modal .modal-content p) {
        font-size: var(--step--1);
    }

    .modal-backdrop {
        position: fixed;
        inset: 0;
        z-index: var(--backdrop-z-index);
        display: none;

        &.open {
            display: block;
        }
    }
</style>