---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

interface Props {
    is_friend?:  boolean;
}

const {
    is_friend = false,
} = Astro.props

import FlexInline from '@components/compositions/FlexInline.astro';

import ComponentBlock from '@components/blocks/ComponentBlock.astro';
import Markdown from '@components/blocks/Markdown.astro';

import MumbleIcon from '@components/icons/MumbleIcon.astro';
import MumbleConnectButton from './MumbleConnectButton.astro';
import Flexblock from '@components/compositions/Flexblock.astro';
---

<ComponentBlock
    width='narrow'
>
    <FlexInline justification='space-between'>
        <FlexInline class="[ grow items-center ]">
            <a href="https://www.mumble.info/downloads/" target="_blank" rel="nofollow noopener noreferrer">
                <MumbleIcon />
            </a>
            <Flexblock gap='var(--space-3xs)'>
                <Markdown
                    markdown={t('mumble_details')}
                    inline={true}
                />
                <Markdown
                    markdown={t('mumble_tutorial')}
                    inline={true}
                    inline_element='small'
                />
            </Flexblock>
        </FlexInline>
        
        <MumbleConnectButton is_friend={is_friend} />
    </FlexInline>
</ComponentBlock>