---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

import type { PostListUI } from '@dtypes/layout_components'

interface Props {
    posts:     PostListUI[];
}

const {
    posts,
} = Astro.props

import Wrapper from '@components/compositions/Wrapper.astro';
import FixedFluid from '@components/compositions/FixedFluid.astro';

import Marquee from '@components/blocks/Marquee.astro';
import NewsReelBadge from '@components/blocks/NewsReelBadge.astro';
---

<div class="[ bottom-bar ][ card component light-transparency hidden! lg:block! animate-slide-in-bottom ]">
    <Wrapper
        class="[ news-reel ]"
        neocom={true}
        max_width='var(--max-content-width)'
        centered={true}
        padding_block='var(--space-2xs)'
    >
        <FixedFluid width='120px' class="[ items-center! ]">
            <h4>{t('recent_events')}</h4>

            <Marquee>
                <div style="width: 450px"></div>
                {posts.map(post =>
                    <NewsReelBadge post={post} />
                )}
                <div style="width: 450px"></div>
                {posts.length >= 6 && posts.length < 12 &&
                    posts.map(post =>
                        <NewsReelBadge post={post} />
                    )
                }
            </Marquee>
        </FixedFluid>
    </Wrapper>
</div>

<style lang="scss">
    .bottom-bar {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: var(--sticky-z-index);
    }

    .news-reel {
        position: relative;
    }
</style>