---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import type { PostListUI } from '@dtypes/layout_components'

interface Props {
    posts:  PostListUI[];
}

const {
    posts,
} = Astro.props

import Wrapper from '@components/compositions/Wrapper.astro'
import FluidFixed from '@components/compositions/FluidFixed.astro'

import PostItem from '@components/blocks/PostItem.astro';
import Button from '@components/blocks/Button.astro';
import RatsWithGatsBanner from '@components/blocks/RatsWithGatsBanner.astro';
---

<div class="[ swiper news-swiper ][ w-full ]">
    <div
        class="[ swiper-wrapper ][ select-none w-full ]"
        x-data={`{
            swiper: null,
            init() {
                this.swiper = new Swiper('.news-swiper', {
                    slidesPerView: 1,
                    spaceBetween: 20,
                    pagination: {
                        clickable: true,
                        dynamicBullets: true,
                        el: ".news-swiper-pagination",
                    },
                    loop: true,
                    autoplay: {
                        delay: 10000,
                    },
                    fadeEffect: {
                        crossFade: true
                    },
                });
            }
        }`}
    >
        {posts.map((post, index) => {
            const slides = [
                <div class="[ swiper-slide ]">
                    <Wrapper max_width="656px" padding_inline="var(--space-s)" padding_block="var(--component-padding-block)">
                        <FluidFixed width='115px' class="[ !items-center ]">
                            <PostItem post={post} />
                            <Button size='sm' href={translatePath(`/alliance/posts/${post.slug}-${post.post_id}`)}>
                                {t('read_more')}
                            </Button>
                        </FluidFixed>
                    </Wrapper>
                </div>
            ]

            if (index === 0) {
                slides.push(
                    <div class="[ swiper-slide ]">
                        <Wrapper max_width="656px" padding_inline="0" padding_block="0">
                            <RatsWithGatsBanner />
                        </Wrapper>
                    </div>
                )
            }

            return slides
        })}
    </div>
</div>

<div class="swiper-pagination news-swiper-pagination"></div>

<style lang="scss">
    :global(.swiper-pagination-bullet) {
        --swiper-pagination-bullet-border-radius: 0;
    }

    .swiper-pagination {
        --swiper-pagination-color: var(--fleet-yellow);
        --swiper-pagination-bullet-inactive-color: var(--highlight);
        --swiper-pagination-bullet-inactive-opacity: 1;
    }

    .swiper-wrapper {
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: var(--space-2xs);
    }

    .news-swiper {
        opacity: 0;
        transition: var(--fast-transition);
        //mask-image: linear-gradient(to right, transparent 0%, black 3%, black 97%, transparent 100%);

        &.swiper-initialized {
            opacity: 1;
        }
    }

    .news-swiper {
        max-width: 656px;
        max-height: 369px;
    }

    .swiper-slide {
        width: 100% !important;
        min-height: 92px;
    }
</style>