---
import type { BadgeColors } from '@dtypes/layout_components';

interface Props {
    number:         number;
    color?:         BadgeColors;
    text_color?:    string;
    [propName: string]: any;
}

const {
    number,
    color = 'fleet-red',
    text_color,
    ...attributes
} = Astro.props;

const badge_background_color = `var(--${color})`;
const badge_color = !text_color ? (color !== 'fleet-yellow' ? 'var(--highlight)' : 'var(--fleet-red)') : text_color
---

<span class:list={['badge', Astro.props.class]} {...attributes}>
    <slot>{number}</slot>
</span>

<style lang="scss" define:vars={{ badge_background_color, badge_color }}>
    .badge {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.2rem;
        height: 1.2rem;
        font-size: var(--step--2);
        font-family: var(--badge-font);
        color: var(--badge_color);
        background-color: var(--badge_background_color);
        font-weight: 400;
    }
</style>