---
import FixedFluid from '@components/compositions/FixedFluid.astro';

interface Props {
    text: string;
    [propName: string]: any;
}

const {
    text,
    ...attributes
} = Astro.props
---

<FixedFluid width='64px' {...attributes}>
    <picture>
        <slot />
    </picture>
    <p class="[ flex items-center ]">{text}</p>
</FixedFluid>