---
import { i18n } from '@helpers/i18n'
const { lang, t } = i18n(Astro.url)

import type { ProductionDrillDownResponse } from '@dtypes/api.minmatar.org'

interface Props {
    production_drilldown:       ProductionDrillDownResponse;
    init_tooltips?:             boolean;
}

const {
    production_drilldown,
    init_tooltips = false,
} = Astro.props

const max_harvest = Math.max(...production_drilldown.entries.map(entry => entry.daily_quantity ?? 0));

import { number_name } from '@helpers/numbers.ts';

import FlexInline from '@components/compositions/FlexInline.astro';
import FixedFluid from '@components/compositions/FixedFluid.astro';
import Flexblock from '@components/compositions/Flexblock.astro';

import PilotBadge from '@components/blocks/PilotBadge.astro';
import Progress from '@components/blocks/Progress.astro';

import VolumenIcon from '@components/icons/VolumenIcon.astro';
import FactoryIcon from '@components/icons/FactoryIcon.astro';
---

<Flexblock>
    {production_drilldown.entries.map(entity => {
        const comparative = max_harvest > 0 ? (entity.daily_quantity ?? 0) * 100 / max_harvest : 0

        return(<FixedFluid width='370px' class="[ production-drilldown-item ][ w-full ]">
            <div class="basis-[370px]">
                <PilotBadge
                    character_id={entity.actual_character.character_id}
                    character_name={entity.actual_character.character_name}
                    size={32}
                />
            </div>

            <FlexInline gap='var(--space-3xs)'>
                <FixedFluid class="[ items-center! basis-[175px] grow shrink ]" width='32px' gap='var(--space-2xs)'>
                    <div
                        class="[ text-highlight h-[32px] ]"
                        data-tippy-content={t('daily_quantity')}
                        x-init={init_tooltips ? 'tippy($el, tippy_options)' : undefined}
                    >
                        <VolumenIcon xlink='#volumen_icon' size={32} />
                    </div>
                    <div>
                        <span
                            data-tippy-content={number_name(entity.daily_quantity ?? 0, lang)}
                            x-init={init_tooltips ? 'tippy($el, tippy_options)' : undefined}
                        >
                            {(entity.daily_quantity ?? 0).toLocaleString()} {t('units')}
                        </span>
                    </div>
                </FixedFluid>

                <Flexblock class="[ basis-[140px] pr-[60px]! ]">
                    <Progress
                        class="[ w-full ]"
                        max="100"
                        value={comparative > 0 ? comparative : 0.1}
                        data-tippy-content={`${comparative.toFixed(0)}%`}
                        x-init={init_tooltips ? 'tippy($el, tippy_options)' : undefined}
                    >
                        {comparative.toFixed(2)}%
                    </Progress>
                </Flexblock>
                
                <FixedFluid class="[ items-center! basis-[100px] grow shrink ]" width='32px' gap='var(--space-2xs)'>
                    <div
                        class="[ text-highlight h-[32px] ]"
                        data-tippy-content={t('factories')}
                        x-init={init_tooltips ? 'tippy($el, tippy_options)' : undefined}
                    >
                        <FactoryIcon xlink='#factory_icon' size={32} />
                    </div>
                    <div>
                        <span
                            data-tippy-content={number_name(entity.factory_count, lang)}
                            x-init={init_tooltips ? 'tippy($el, tippy_options)' : undefined}
                        >
                            {(entity.factory_count ?? 0).toLocaleString()}
                        </span>
                    </div>
                </FixedFluid>
            </FlexInline>
        </FixedFluid>)
    })}
</Flexblock>