---
interface Props {
    type:               'radio' | 'checkbox';
    [propName: string]: any;
}

const {
    type,
    ...attributes
} = Astro.props
---

<label class="[ radio-icon ]">
    <input type={type} {...attributes} />
    <slot />
</label>

<style lang="scss">
    :global(.radio-icon :checked + *) {
        color: var(--fleet-yellow);
    }

    .radio-icon {
        cursor: pointer;

        input {
            position: absolute;
            width: 1px;
            opacity: 0;
        }
    }
</style>