---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

import type { CorporationObject } from '@dtypes/layout_components'

interface Props {
    corporation:            CorporationObject;
    is_user_corporation?:   boolean;
    picture_placement?:     'left' | 'right';
    
}

const {
    corporation,
    is_user_corporation = false,
    picture_placement = 'left',
} = Astro.props

const BEARTHATCARES_ID = 634915984
console.log(is_user_corporation)

import CorporationSlide from '@components/blocks/CorporationSlide.astro';
---

<CorporationSlide
    id="rattini-slide"
    ceo_image='/images/corporations/rattini/ceo.png'
    ceo_character_id={BEARTHATCARES_ID}
    corporation={corporation}
    is_user_corporation={is_user_corporation}
    picture_placement={picture_placement}
>
    <img slot="ships" class="[ wolf ]" src="/images/corporations/rattini/wolf.png" />
    <img slot="ships" class="[ scimitar ]" src="/images/corporations/rattini/scimitar.png" />
    <img slot="ships" class="[ sleipnir ]" src="/images/corporations/rattini/sleipnir.png" />

    <p>{corporation.introduction ? corporation.introduction : t('rattini_description_fallback') }</p>
</CorporationSlide>

<style lang="scss">
    img {
        image-rendering: pixelated;
    }

    .wolf {
        position: absolute;
        top: 40%;
        left: 5%;
        height: auto;
        width: 69%;
        z-index: 3;
        transform: scale(0);
    }

    .scimitar {
        position: absolute;
        top: 48%;
        left: -40%;
        width: 65%;
        height: auto;
        z-index: 2;
        transform: scale(0);
    }

    .sleipnir {
        position: absolute;
        left: -25%;
        top: 34%;
        width: 72%;
        height: auto;
        z-index: 1;
        transform: scale(0);
    }

    @keyframes wolf {
        from {
            transform: scale(0);
            top: 28%;
            left: -45%;
        }

        to {
            transform: scale(1);
            top: 27%;
            left: 35%;
        }
    }

    @keyframes scimitar {
        from {
            transform: scale(0);
            top: 36%;
            left: -40%;
        }

        to {
            transform: scale(1);
            top: 6%;
            left: 37%;
        }
    }

    @keyframes sleipnir {
        from {
            transform: scale(0);
            left: -50%;
            top: 25%;
        }

        to {
            transform: scale(1);
            top: 36%;
            left: 27%;
        }
    }
</style>

<style lang="scss" is:global>
    #rattini-slide .ceo {
        left: 0%;
    }

    .swiper-slide-active {
        .wolf {
            animation: wolf cubic-bezier(0.390, 0.575, 0.565, 1.000) both 0.45s;
            animation-delay: 2.4s;
            animation-iteration-count: 1;
            transform-origin: top right;
            animation-fill-mode: forwards;
        }
        
        .scimitar {
            animation: scimitar cubic-bezier(0.390, 0.575, 0.565, 1.000) both 0.45s;
            animation-delay: 2s;
            animation-iteration-count: 1;
            transform-origin: top right;
            animation-fill-mode: forwards;
        }
        
        .sleipnir {
            animation: sleipnir cubic-bezier(0.390, 0.575, 0.565, 1.000) both 0.45s;
            animation-delay: 2.2s;
            animation-iteration-count: 1;
            transform-origin: top right;
            animation-fill-mode: forwards;
        }
    }
</style>