---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

import FlexInline from '@components/compositions/FlexInline.astro';

import StylessButton from '@components/blocks/StylessButton.astro';
import RedditIcon from '@components/icons/buttons/RedditIcon.astro';
---

<StylessButton
    href='https://new.reddit.com/r/Eve/search/?q=bearthatcares%7Calepmalagon%7CAckthal&restrict_sr=1'
    target="_blank"
    rel="nofollow noopener noreferrer"
    {...Astro.props}
>
    <FlexInline
        class="[ items-center text-[var(--highlight)] shrink ]"
        gap='var(--space-2xs)'
    >
        <RedditIcon />
        <p class="[ w-fit ]">{t('find_us_in_reddit')}</p>
    </FlexInline>
</StylessButton>