---
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import FlexInline from '@components/compositions/FlexInline.astro';

import StylessButton from '@components/blocks/StylessButton.astro';
import RedditIcon from '@components/icons/buttons/RedditIcon.astro';
---

<StylessButton
    href='https://discord.com/invite/3hZfahmkFx'
    {...Astro.props}
>
    <FlexInline
        class="[ items-center text-[var(--highlight)] shrink ]"
    >
        <RedditIcon />
        <p class="[ w-fit ]">You can find us in Reddit</p>
    </FlexInline>
</StylessButton>