---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

interface Props {
    fleet_id:   number;
}

const {
    fleet_id
} = Astro.props

import { query_string } from '@helpers/string';

const FLEET_STATE_BUTTON_PARTIAL_URL = translatePath('/partials/fleet_state_button_component')

import Button from '@components/blocks/Button.astro';
---

<Button
    id="restore-fleet-button"
    size='sm'
    color='green'
    x-data={`{
        show_restore_fleet_dialog() {
            show_confirm_dialog({
                title: '${t('restore_fleet_dialog_title')}',
                content: '${t('restore_fleet_dialog_text')}',
                hx: {
                    method: 'patch',
                    url: '${FLEET_STATE_BUTTON_PARTIAL_URL}?${query_string({
                        fleet_id: fleet_id,
                        status: 'pending',
                    })}',
                    target: '#restore-fleet-button',
                    swap: 'outerHTML transition:true'
                }
            })
        }
    }`}
    x-on:click="show_restore_fleet_dialog"
>
    {t('restore')}
</Button>