---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import FlexInline from '@components/compositions/FlexInline.astro';
import Wrapper from '@components/compositions/Wrapper.astro';

import LandingSwiper from '@components/blocks/LandingSwiper.astro';
import Button from '@components/blocks/Button.astro';
import SwiperCard from '@components/blocks/SwiperCard.astro';
import Markdown from '@components/blocks/Markdown.astro';

import DoctrinesEvEIcon from '@components/icons/DoctrinesEvEIcon.astro';
import FitsEvEIcon from '@components/icons/FitsEvEIcon.astro';
---

<Wrapper
    class="[ ships-reel ]"
    padding_block='0'
    padding_inline='0'
    max_width='100%'
>
    <div
        class="[ swiper ][ w-full pb-10 ]"
        id="ships-list"
    >
        <LandingSwiper>
            <div class="[ swiper-slide ]" style="margin-right: 40px">
                <SwiperCard class="[ animate-delay-0 ]" cover='/images/fittings-tile-background.jpg'>
                    <FlexInline slot='header' gap='var(--space-2xs)'>
                        <FitsEvEIcon />
                        <h2>{t('fittings')}</h2>
                    </FlexInline>
                        
                    <p>{t('fitting.leading_text')}</p>
                    <FlexInline>
                        <Button size='sm' href={translatePath('/ships/fitting/list/')}>
                            {t('view_fittings')}
                        </Button>
                    </FlexInline>
                </SwiperCard>
            </div>

            <div class="[ swiper-slide ]">
                <SwiperCard class="[ animate-delay-200 ]" cover='/images/doctrines-tile-background.jpg'>
                    <FlexInline slot="header" gap='var(--space-2xs)'>
                        <DoctrinesEvEIcon />
                        <h2>{t('doctrines.page_title')}</h2>
                    </FlexInline>
                    
                    <Markdown
                        markdown={t('doctrines.leading_text')}
                        inline={true}
                    />
                    <FlexInline>
                        <Button
                            size='sm'
                            href={translatePath('/ships/doctrines/list/')}
                        >
                            {t('view_doctrines')}
                        </Button>
                    </FlexInline>
                </SwiperCard>
            </div>
        </LandingSwiper>
    </div>

    <div class="[ swiper-button-prev hidden lg:block ]"></div>
    <div class="[ swiper-button-next hidden lg:block ]"></div>
</Wrapper>

<style lang="scss">
    .ships-reel {
        position: relative;
    }

    .swiper-button-prev,
    .swiper-button-next {
        --swiper-navigation-color: var(--highlight);
        --swiper-navigation-sides-offset: -46px;

        opacity: 0;
    }

    .swiper-initialized ~ .swiper-button-prev,
    .swiper-initialized ~ .swiper-button-next {
        opacity: 1;
    }

    .swiper-initialized ~ .swiper-button-next.swiper-button-disabled,
    .swiper-initialized ~ .swiper-button-prev.swiper-button-disabled {
        opacity: 0;
    }

    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
        --swiper-navigation-color: var(--fleet-yellow);
        opacity: 1;
    }

    .swiper-button-prev {
        transform: translateY(-1.25rem);
    }

    .swiper-button-next {
        transform: translateY(-1.25rem);
    }

    .swiper-slide {
        width: min(100%, 700px);
    }
</style>