---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

interface Props {
    can_view_srp:   boolean;
}

const {
    can_view_srp,
} = Astro.props

import Wrapper from '@components/compositions/Wrapper.astro';
import Grid from '@components/compositions/Grid.astro';

import Button from '@components/blocks/Button.astro';
import Tile from '@components/blocks/Tile.astro';

import KillReportEVEIcon from '@components/icons/KillReportEVEIcon.astro';
import FitsEvEIcon from '@components/icons/FitsEvEIcon.astro';
---

<Wrapper
    class="[ ships-reel ]"
    padding_block='0'
    padding_inline='0'
    max_width='100%'
>
    <Grid
        class="[ w-full grid-fill ]"
        row_gap="var(--space-3xs)"
        column_gap="var(--space-3xs)"
        min_item_width="580px"
    >
        <Tile
            title={t('fittings')}
            description={t('fitting.leading_text')}
            cover='/images/fittings-tile-background.webp'
        >
            <FitsEvEIcon class="[ ml-[-7px] ]" slot="icon" />
                
            <Button size='sm' href={translatePath('/ships/fittings/')}>
                {t('browse_fittings')}
            </Button>
            
            <Button
                size='sm'
                href={translatePath('/ships/doctrines/')}
            >
                {t('browse_doctrines')}
            </Button>
        </Tile>

        {can_view_srp &&
            <Tile
                title={t('ships.srp.page_title')}
                description={t('ships.srp.leading_text')}
                cover='/images/srp-tile-background.webp'
            >
                <KillReportEVEIcon class="[ ml-[-7px] ]" slot="icon" />
                
                <Button
                    size='sm'
                    href={translatePath('/ships/srp/')}
                >
                    {t('request')}
                </Button>
                <Button
                    size='sm'
                    href={translatePath('/ships/srp/killmails/')}
                >
                    {t('killmails')}
                </Button>
            </Tile>
        }
    </Grid>
</Wrapper>