---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

import Button from '@components/blocks/Button.astro';
---

<div class="[ skip-content ]">
    <Button href='#content'>
        {t('skip_to_content')}
    </Button>
</div>

<style lang="scss">
    .skip-content {
        position: absolute;
        transform: translate(-50%, -102%);
        transition: transform 0.3s;
        top: 0;
        left: 50%;
        z-index: var(--neocom-z-index);
    }

    .skip-content:focus-within {
        transform: translate(-50%, 0%);
    }
</style>