---
import FixedFluid from '@components/compositions/FixedFluid.astro';

interface Props {
    image: string;
    alt: string;
    text: string;
    [propName: string]: any;
}

const {
    image,
    alt,
    text,
    ...attributes
} = Astro.props
---

<FixedFluid width='64px' {...attributes}>
    <picture>
        <img class="[ w-full ]" src={image} alt={alt} height="64" width="64" />
    </picture>
    <p class="[ flex items-center ]">{text}</p>
</FixedFluid>