---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import type { SpaceTruckerStatistics } from '@dtypes/api.minmatar.org'

interface Props {
    space_truckers:     SpaceTruckerStatistics[];
}

const {
    space_truckers,
} = Astro.props

import Wrapper from '@components/compositions/Wrapper.astro';
import FixedFluid from '@components/compositions/FixedFluid.astro';
import FlexInlineSiblings from '@components/compositions/FlexInlineSiblings.astro';

import Marquee from '@components/blocks/Marquee.astro';
import SpaceTruckerBadge from '@components/blocks/SpaceTruckerBadge.astro';
import Button from '@components/blocks/Button.astro';
---

<div class="[ bottom-bar ][ card component light-transparency hidden! lg:block! animate-slide-in-bottom ]">
    <Wrapper
        class="[ space-truckers-reel ]"
        neocom={true}
        max_width='var(--max-content-width)'
        centered={true}
        padding_block='var(--space-2xs)'
    >
        <FixedFluid width='170px' class="[ items-center! ]">
            <h4>{t('space_trucker_ranking')}</h4>
            <FlexInlineSiblings
                min-shink-width='250px'
                shrinkable-sibbling='first'
            >
                <Marquee>
                    <div style="width: 160px"></div>
                    <div style="width: 160px"></div>
                    {space_truckers.map((trucker, index) =>
                        <SpaceTruckerBadge place={index + 1} trucker={trucker} />
                    )}
                    {space_truckers.length >= 5 && space_truckers.length < 12 &&
                        <div style="width: 160px"></div>
                        <div style="width: 160px"></div>
                    }
                    {space_truckers.length >= 5 && space_truckers.length < 12 &&   
                        space_truckers.map((trucker, index) =>
                            <SpaceTruckerBadge place={index + 1} trucker={trucker} />
                        )
                    }
                </Marquee>

                <Button
                    href={translatePath('/alliance/tribes/3')}
                    size='sm'
                >
                    {t('become_a_trucker')}
                </Button>
            </FlexInlineSiblings>
        </FixedFluid>
    </Wrapper>
</div>

<style lang="scss">
    .bottom-bar {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: var(--sticky-z-index);
    }

    .space-truckers-reel {
        position: relative;
    }
</style>