---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import type { SpaceTruckerStatistics } from '@dtypes/api.minmatar.org'

interface Props {
    space_truckers:     SpaceTruckerStatistics[];
}

const {
    space_truckers,
} = Astro.props

import Wrapper from '@components/compositions/Wrapper.astro';
import FixedFluid from '@components/compositions/FixedFluid.astro';
import FlexInlineSiblings from '@components/compositions/FlexInlineSiblings.astro';
import FlexInline from '@components/compositions/FlexInline.astro';

import Marquee from '@components/blocks/Marquee.astro';
import SpaceTruckerBadge from '@components/blocks/SpaceTruckerBadge.astro';
import Button from '@components/blocks/Button.astro';
import TextBadge from '@components/blocks/TextBadge.astro';
---

<div
    class="[ bottom-bar ][ card component light-transparency hidden! animate-slide-in-bottom ]"
    x-on:marquee-started="$el.classList.add('lg:block!')"
>
    <Wrapper
        class="[ space-truckers-reel ]"
        neocom={true}
        max_width='var(--max-content-width)'
        centered={true}
        padding_block='var(--space-2xs)'
    >
        <FixedFluid width='170px' class="[ items-center! ]">
            <TextBadge title={t('space_trucker_ranking')}>
                <small>{t('last_30_days')}</small>
            </TextBadge>
            
            <FlexInlineSiblings
                min-shink-width='250px'
                shrinkable-sibbling='first'
            >
                {space_truckers.length >= 4 ?
                    <Marquee>
                        {space_truckers.map((trucker, index) =>
                            <SpaceTruckerBadge place={index + 1} trucker={trucker} />
                        )}
                    </Marquee> :
                    <FlexInline gap='var(--space-l)' x-init="$dispatch('marquee-started')">
                        {space_truckers.map((trucker, index) =>
                            <SpaceTruckerBadge place={index + 1} trucker={trucker} />
                        )}
                    </FlexInline>
                }

                <Button
                    href={translatePath('/alliance/tribes/3')}
                    size='sm'
                >
                    {t('become_a_trucker')}
                </Button>
            </FlexInlineSiblings>
        </FixedFluid>
    </Wrapper>
</div>

<style lang="scss">
    .bottom-bar {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: var(--sticky-z-index);
    }

    .space-truckers-reel {
        position: relative;
    }
</style>