---
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import type { StructureTimerUI } from '@dtypes/layout_components'

interface Props {
    structure_timers:   StructureTimerUI[];
    can_verify_timer?:  boolean;
    create_fleet?:      boolean;
}

const {
    structure_timers,
    can_verify_timer = false,
    create_fleet = false,
} = Astro.props

console.log(create_fleet)

import BlockList from '@components/compositions/BlockList.astro';

import StructureTimerListItem from '@components/blocks/StructureTimerListItem.astro';
---

<BlockList
    role="list"
    gap='var(--space-3xs)'
>
    {structure_timers.length == 0 &&
        <p class="[ text-center ]">{t('no_structure_timers')}</p>
    }
    
    {structure_timers.map((structure_timer) =>
        <StructureTimerListItem
            role="listitem"
            structure_timer={structure_timer}
            can_verify_timer={can_verify_timer}
            create_fleet={create_fleet}
        />
    )}

</BlockList>