---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

import type { StructureTimerUI } from '@dtypes/layout_components'

interface Props {
    structure_timers:   StructureTimerUI[];
    can_verify_timer?:  boolean;
    create_fleet?:      boolean;
}

const {
    structure_timers,
    can_verify_timer = false,
    create_fleet = false,
} = Astro.props

import Grid from '@components/compositions/Grid.astro';

import StructureTimerListItem from '@components/blocks/StructureTimerListItem.astro';
---

<Grid
    class="[ w-full grid-fill ]"
    row_gap="var(--space-3xs)"
    column_gap="var(--space-3xs)"
    min_item_width="350px"
    x-data={`{
        init() {
            const timer = setInterval(() => {
                $dispatch('tick')
            }, 5000)

            function clearTimer(event) {
                clearInterval(timer)
                event.currentTarget.removeEventListener('astro:after-swap', clearTimer)
            }

            document.addEventListener('astro:after-swap', clearTimer)
        }
    }`}
>
    {structure_timers.map((structure_timer) =>
        <StructureTimerListItem
            role="listitem"
            structure_timer={structure_timer}
            can_verify_timer={can_verify_timer}
            create_fleet={create_fleet}
        />
    )}
</Grid>

{structure_timers.length == 0 &&
    <p class="[ text-center ]">{t('no_structure_timers')}</p>
}