<button {...Astro.props}>
    <slot />
</button>

<style lang="scss">
    button {
        border: none;
        padding: 0;
        text-align: left;
        background-color: transparent;
        color: inherit;
        cursor: pointer;
    }
</style>