---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

interface Props {
    fleet_id:       number;
    target?:        string;
    remove_table?:  boolean;
}

const {
    fleet_id,
    target = '#srp-table',
    remove_table = false,
} = Astro.props

import { query_string } from '@helpers/string';

const options = query_string({
    fleet_id: fleet_id,
    remove_table: remove_table,
})

const SRP_TABLE_PARTIAL_URL = `${translatePath('/partials/srp_table_component')}?=${options}`
const DIALOG_SRP_PARTIAL_URL = translatePath('/partials/dialog_srp_submit')

import Button from '@components/blocks/Button.astro';
---

<Button
    size='sm'
    color='green'
    x-data={`{
        show_srp_submit_dialog() {
            show_confirm_dialog({
                title: '${t('srp_submit_dialog_title')}',
                content: '${fleet_id ? t('srp_submit_dialog_text') : t('srp_no_fleet_submit_dialog_text')}',
                partial: '${DIALOG_SRP_PARTIAL_URL}',
                hx: {
                    method: 'post',
                    url: '${SRP_TABLE_PARTIAL_URL}',
                    target: '${target}',
                    swap: 'outerHTML transition:true'
                }
            }).then(accepted => document.getElementById('srp-url').value = '')
        }
    }`}
    x-on:click="show_srp_submit_dialog"
>
    {t('add_killmail')}
</Button>