---
interface Props {
    title:      string;
}

const {
    title,
} = Astro.props

import Flexblock from '@components/compositions/Flexblock.astro';
---
<Flexblock gap='var(--space-3xs)' class="[ badge w-full ]">
    <h4>{title}</h4>
    <slot />
</Flexblock>