---
interface Props {
    subtext?: string | false;
}

const {
    subtext = false,
} = Astro.props

import Flexblock from '@components/compositions/Flexblock.astro';
---
<Flexblock gap='0' class="[ w-full ]">
    <span>
        <slot />
    </span>
    {subtext &&
        <small>{subtext}</small>
    }
</Flexblock>