---
import Flexblock from "@components/compositions/Flexblock.astro";

import type { spaces } from '@dtypes/layout_components'

interface Props {
    title?:             false | string;
    gap?:               spaces;
    [propName: string]: any;
}

const {
    title = false,
    gap = 'var(--space-3xs)',
    ...attributes
} = Astro.props
---

<Flexblock gap={gap}>
    {title &&
        <h4>{title}</h4>
    }
    <slot name="outside">
        <p {...attributes}><slot /></p>
    </slot>
</Flexblock>

<style lang="scss">
    p {
        font-weight: 400;
    }
</style>