---
import Flexblock from "@components/compositions/Flexblock.astro";

interface Props {
    title?:             false | string;
    text?:              false | string;
    gap?:               string;
    [propName: string]: any;
}

const {
    title = false,
    text = false,
    gap = 'var(--space-3xs)',
    ...attributes
} = Astro.props
---

<Flexblock gap={gap}>
    {title &&
        <h4>{title}</h4>
    }

    {text &&
        <p set:html={text} {...attributes}></p>
    }
</Flexblock>

<style lang="scss">
    p {
        font-size: var(--step--1);
        font-weight: 400;
    }
</style>