---
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import type { Character } from '@dtypes/api.minmatar.org'
import type { User } from '@dtypes/jwt'

interface Props {
    user:           User;
    character_name: string;
    characters:     Character[];
}

const {
    user,
    character_name,
    characters,
} = Astro.props

import Flexblock from '@components/compositions/Flexblock.astro';
import Wrapper from '@components/compositions/Wrapper.astro';

import CharacterLinksItem from './CharacterLinksItem.astro';
---

<Wrapper
    class="[ user-characters ]"
    padding_block='var(--component-padding-block)'
    padding_inline='var(--space-l-xl)'
>
    <Flexblock>
        <Flexblock gap="var(--space-3xs)">
            <h2>{character_name} {t('characters').toLowerCase()}</h2>
            <small class="!mt-[var(--space-3xs)]">
                {characters.length} {characters.length === 1 ? t('character') : t('characters')}
            </small>
        </Flexblock>

        <Flexblock gap="var(--space-3xs)" class="[ max-h-[430px] overflow-y-auto ]">
            {characters.map((character) =>
                <CharacterLinksItem
                    user={user}
                    character={{
                        character_id: character.character_id,
                        character_name: character.character_name,
                    }}
                    character_id={character.character_id}
                />
            )}
        </Flexblock>
    </Flexblock>
</Wrapper>

<style>
    .user-characters {
        max-height: min(800px, 90vh);
        overflow-y: auto;
    }
</style>