---
import Wrapper from "@components/compositions/Wrapper.astro";

interface Props {
    videoid:        string;
    videotitle?:    string;
    credits?:       false | string;
}

const {
    videoid,
    videotitle = 'YouTube video player',
    credits = false,
} = Astro.props
---

<Wrapper
    class="[ shadow relative ]"
    max_width="var(--max-col-width)"
    padding_inline="0"
    padding_block="0"
>
    <div class="[ video-frame w-full ]">
        <lite-youtube
            class="[ max-w-full h-full w-full ]"
            videoid={videoid}
            videotitle={videotitle}
            posterquality="maxresdefault"
        />
    </div>
    {credits !== false && <p>Credits: <span>{credits}</span></p>}
</Wrapper>

<script>
    import '@justinribeiro/lite-youtube';
</script>

<style lang="scss">
    .video-frame {
        overflow: hidden;
        display: flex;
        align-items: center;
        aspect-ratio: 960/401;
        max-width: 960;
    }

    .shadow {
        box-shadow: 0 0 200px 60px black, inset 0 0 200px 200px black;
    }

    span {
        color: var(--highlight);
    }

    p {
        position: absolute;
        bottom: -25px;
        right: 0;
        font-size: var(--step--2);
    }
</style>