---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

import { get_item_icon } from '@helpers/eve_image_server'

import FlexInline from '@components/compositions/FlexInline.astro';
import Flexblock from '@components/compositions/Flexblock.astro';
import Dropdown from '@components/blocks/Dropdown.astro';
import Badge from '@components/blocks/Badge.astro';
import StylessButton from './StylessButton.astro';
---

<Dropdown>
    <Flexblock
        class="[ py-[var(--space-2xs)] ]"
        slot="button"
        gap='var(--space-2xs)'
    >
        <FlexInline gap='var(--space-3xs)' class="[ items-end !flex-nowrap ]">
            <h2 class="[ whitespace-nowrap ]">Sosala <span class="[ text-[var(--security-status-point-4)] ]">0.4</span></h2>
            <FlexInline gap='var(--space-3xs)' class="[ items-end !flex-nowrap ]">
                <svg class="[ h-[17px] ]" width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.25 0L0 4.5L5.25 9V5.883L3.35175 4.5L5.25 3.117V0Z" fill="white"/>
                </svg>
                <h3 class="[ whitespace-nowrap ]"><small>Vaarma</small></h3>
                <svg class="[ h-[17px] ]" width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.25 0L0 4.5L5.25 9V5.883L3.35175 4.5L5.25 3.117V0Z" fill="white"/>
                </svg>
                <h3 class="[ whitespace-nowrap ]"><small>The Bleak Lands</small></h3>
            </FlexInline>
        </FlexInline>
        <h3>Sosala – WATERMELON</h3>
        <small>{t('minmatar_fleet_hq')}</small>
    </Flexblock>

    <Flexblock gap='var(--space-3xs)'>
        <StylessButton
            href={translatePath('/redirects/set_staggering?tag=auga')}
            class="[ min-w-[350px] ]"
        >
            <Badge
                title="Auga - Minmatar Militia HQ"
                subtitle={t('auga_hq_description')}
                image={get_item_icon(35833)}
            />
        </StylessButton>
    </Flexblock>
</Dropdown>