---
interface Props {
    max_width?: string;
    [propName: string]: any;
}

const {
    max_width = '80rem',
} = Astro.props;

import Wrapper from '@components/compositions/Wrapper.astro';

const subheader_content = await Astro.slots.render('subheader');
---

<div class="[ post-header ]">
    <div class="[ darker-transparency ][ relative z-10 ]">
        <Wrapper class="[ main-bar ][ w-full ]" padding_block="var(--space-xs)" max_width={max_width} neocom={true} centered={true}>
            <slot />
        </Wrapper>
    </div>

    {subheader_content !== '' &&
        <div class="[ subheader-bar ] [ dark-transparency ]">
            <Wrapper centered={true} max_width="var(--max-content-width)" padding_block='var(--space-2xs)'>
                <Wrapper max_width="var(--max-col-width)" padding_inline="0" padding_block="0" class="[ w-full ]">
                    <slot name="subheader" />
                </Wrapper>
            </Wrapper>
        </div>
    }
</div>

<style lang="scss">    
    :global(.post-header > .wrapper > .flex-inline) {
        width: 100%;
    }
    
    .post-header {
        position: sticky;
        top: 0;
        z-index: var(--header-z-index);

        .subheader-bar {
            //margin-top: -1px;
        }

        .main-bar {
            position: relative;
            z-index: 1;
            min-height: var(--space-xl-2xl);
            display: flex;
            width: 100%;
            justify-content: stretch;
        }
    }
</style>