{% extends "base.html" %} 
{% load humanize %}
{% load crispy_forms_tags %}

{% block content %}
{% if not existing_application %}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          data-mdb-collapse-init
          class="accordion-button"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          1. Add characters
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-mdb-parent="#accordionExample">
        <div class="accordion-body">
            <div class="collapse.show multi-collapse" id="collapseCharacterSection">
                {% include 'eveonline/components/list_characters_table.html' with required_type='Alliance' %}
                <a href="{% url 'eveonline-characters-add-alliance-character' %}?next={% url 'eveonline-corporations-apply' corporation.pk %}" class="btn btn-success">Add Alliance Character</a>
            </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          data-mdb-collapse-init
          class="accordion-button collapsed"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          2. Tell us about yourself
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-mdb-parent="#accordionExample">
        <div class="accordion-body">
            <div>
                <h1>Application</h1>
                {% crispy form %}
            </div>
        </div>
      </div>
    </div>
  </div>
{% else %}
<div class = "container">
    {% if existing_application.status == 'pending' %}
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Application Submitted</h4>
        <p>Your application has been submitted. You will be contacted by a recruiter in the #applications section of our Discord.</p>
        <hr>
        <p class="mb-0">Thank you for your interest in joining Minmatar Fleet.</p>
    </div>
    {% elif existing_application.status == 'accepted' %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Application Accepted</h4>
        <p>Your application has been accepted. Please apply in-game and wait for a recruiter.</p>
        <hr>
        <p class="mb-0">Thank you for your interest in joining Minmatar Fleet.</p>
    {% elif existing_application.status == 'rejected' %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Application Rejected</h4>
        <p>Your application has been rejected. You may submit another application after 30 days. </p>
        <hr>
        <p class="mb-0">Thank you for your interest in joining Minmatar Fleet.</p>
    {% endif %}

</div>
{% endif %}
{% endblock %}