{% extends "base.html" %} 
{% load humanize %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'eveonline/components/list_characters_table.html' with required_type='Alliance' %}
<div class="row">
    
    <!-- Approve or Reject buttons -->
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="https://discord.com/channels/1041384161505722368/1185958832124465233" class="btn btn-primary">View</a>
        <a href="{% url 'eveonline-corporations-applications-approve' application.pk %}" class="btn btn-success">Approve</a>
        <a href="{% url 'eveonline-corporations-applications-reject' application.pk %}" class="btn btn-danger">Reject</a>
      </div>
</div>
{% endblock %}