{% extends "base.html" %}
{% load humanize %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <img src="https://images.evetech.net/corporations/{{corporation.corporation_id}}/logo?size=256" alt="avatar"
                        class="img-fluid" style="width: 150px;">
                    <h5 class="my-3">{{corporation.name}}</h5>
                    <div class="d-flex justify-content-center mb-2">
                        <a class="btn btn-info" href="https://zkillboard.com/corporation/{{corporation.corporation_id}}/">zKillboard</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="card mb-4 mb-md-0">
                    <div class="card-body">
                        <p class="mb-4">Characters
                        </p>
                        {% include 'eveonline/components/character_datatable.html' with required_type='Alliance' %}
                        {% for skillset in skillsets %}
                        <p class="mb-1" style="font-size: .77rem;">{{skillset.skillset.name}}</p>
                        <div title="{{skillset.missing_skills}}" class="progress rounded" style="height: 5px;">
                            <div class="progress-bar bg-{{skillset.progress.color}}" role="progressbar" style="width: {{skillset.progress.value}}%" aria-valuenow="80"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}