---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

import { prod_error_messages } from '@helpers/env'

import type { Blueprint } from '@dtypes/api.minmatar.org'
import { fetch_blueprints } from '@helpers/fetching/industry'

const blueprint_query = Astro.url.searchParams.get('blueprint_query') as string
const is_copy = Astro.url.searchParams.get('is_copy') ? JSON.parse(Astro.url.searchParams.get('is_copy') ?? 'false') : false

let blueprints:Blueprint[] = []
let fetching_error:string | false = false

try {
    blueprints = await fetch_blueprints(blueprint_query, is_copy)
} catch (error) {
    fetching_error = (prod_error_messages() ? t('get_blueprints_error') : error.message)
}

import BlueprintTableAlpine from '@components/blocks/BlueprintTableAlpine.astro'
import UpdateAlpineVariables from '@components/blocks/UpdateAlpineVariables.astro'
---

<BlueprintTableAlpine
    is_copy={is_copy}
>
    {fetching_error &&
        <p class="[ w-fit! animate-rubber-band ]">⚠️ {fetching_error}</p>
    }
</BlueprintTableAlpine>

<UpdateAlpineVariables
    variables={{
        blueprints: blueprints,
        showing_results: true,
    }}
/>

<div x-init="$nextTick(() => { filter(); $el.remove() })" />