---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

import { prod_error_messages } from '@helpers/env'

import { fetch_combatlog_analysis } from '@helpers/fetching/combatlog'
import type { CombatLogAnalysis } from '@dtypes/layout_components'

let combat_log_analysis:CombatLogAnalysis  | null = null
let combatlog_analysis_error:string  | null = null

if (Astro.request.method === "POST") {
    try {
        const combatlog = await Astro.request.formData()
        const paste = JSON.parse(JSON.parse( combatlog.get("data")?.valueOf() as string ))

        combat_log_analysis = await fetch_combatlog_analysis(paste)
    } catch (error) {
        combatlog_analysis_error = prod_error_messages() ? t('combatlog_analysis_error') : error.message
    }
}

import CombatLogAnalysisComponent from '@components/blocks/CombatLogAnalysisComponent.astro'
---

{combatlog_analysis_error ?
    <p>{combatlog_analysis_error}. {t('resubmit_combatlog')}</p>
    :
    <CombatLogAnalysisComponent combat_log_analysis={combat_log_analysis as CombatLogAnalysis} />
}