---
import { i18n } from '@helpers/i18n'
const { lang, t, translatePath } = i18n(Astro.url)

import type { MarketLocationUI, SelectOptions } from '@dtypes/layout_components';
import { SHIP_TYPES_SORTED } from '@helpers/eve'
import { get_contracts_data } from '@helpers/pages/contracts'
import type { ContractsData } from '@helpers/pages/contracts'
import type { LocationMarketData } from '@helpers/fetching/market'
import { get_ship_info } from '@helpers/sde/ships'

let contracts_data:ContractsData = {}
let data_fetching_error = ''

try {
    contracts_data = await get_contracts_data(lang)
} catch (error) {
    data_fetching_error = error.message
}

const {
    market_locations = [],
} = contracts_data

let doctrines:string[] = []

let active_location_name = Astro.url.searchParams.get('location_name') ?? (market_locations[0]?.location_name ?? '')

if (market_locations.length > 0) {
    if (active_location_name === '' || !market_locations.find(location => location.location_name === active_location_name) )
        active_location_name = market_locations[0].location_name
}

const market_locations_ui:MarketLocationUI[] = await Promise.all(market_locations.map(async (location:LocationMarketData) => {
    let completion = 0
    let total_expectations = 0

    const fittings = location.doctrines.map(doctrine => {
        if (location.location_name === active_location_name)
            doctrines.push(doctrine.doctrine_name)

        return doctrine.fittings.map(fitting => {
            const expected_quantity = fitting.expectation_quantity ?? 0
            const current_quantity = fitting.current_quantity ?? 0
            completion += current_quantity > expected_quantity ? 100 : expected_quantity > 0 ? (current_quantity / expected_quantity * 100) : 0
            total_expectations += expected_quantity > 0 ? 1 : 0
            

            return {
                ...fitting,
                doctrine_name: doctrine.doctrine_name,
            }
        })
    }).flat()

    const ship_ids = fittings.map((fitting) => fitting.ship_id)
    const unique_ship_ids = Array.from(new Set(ship_ids))
    
    let ship_info_map: Record<number, string> = {}
    await Promise.all(unique_ship_ids.map(async (ship_id) => {
        const ship_info = await get_ship_info(ship_id)
        ship_info_map[ship_id] = ship_info ? ship_info.type : 'Unclassified'
    }))

    const sorted_location_fittings = fittings.sort((a, b) => {
        return SHIP_TYPES_SORTED.indexOf(ship_info_map[a.ship_id.toString()] as string) - SHIP_TYPES_SORTED.indexOf(ship_info_map[b.ship_id.toString()] as string)
    })

    return {
        name: location.location_name,
        doctrine_count: location.doctrines.length,
        completion: total_expectations > 0 ? (completion / total_expectations) : 100,
        fittings: sorted_location_fittings,
    } as MarketLocationUI
}))

const unique_doctrines = Array.from(new Set(doctrines))

const doctrines_select_options = unique_doctrines.map( doctrine_name => {
    return { label: doctrine_name, value: doctrine_name } as SelectOptions
})

import { query_string } from '@helpers/string';

const CONTRACTS_PARTIAL_URL = translatePath(`/partials/contracts_component?${query_string({
    location_name: active_location_name
})}`)

const active_market_locations_ui = market_locations_ui.find(location => location.name === active_location_name)
const contracts_count = active_market_locations_ui?.fittings.length ?? 0

const non_active_market_locations_ui = market_locations_ui.filter(location => location.name !== active_location_name)

import ErrorRefetch from '@components/blocks/ErrorRefetch.astro';
import ContractsTable from '@components/blocks/ContractsTable.astro';

const delay = parseInt(Astro.url.searchParams.get('delay') ?? '0')
---

{data_fetching_error ?
    <ErrorRefetch
        args={{
            partial: CONTRACTS_PARTIAL_URL,
            message: data_fetching_error,
            delay: delay,
        }}
    />
    :
    active_market_locations_ui !== undefined ?
        <div
            x-data={`{
                init() {
                    contracts_count = ${contracts_count}
                    doctrines_select_options = ${JSON.stringify(doctrines_select_options)}
                    $el.remove()
                }
            }`}
        />  
        <ContractsTable
            active_market_locations_ui={active_market_locations_ui}
            non_active_market_locations_ui={non_active_market_locations_ui}
        /> :
        <p>{t('no_market_locations')}</p>
}