---
import { i18n } from '@helpers/i18n'
const { lang, t } = i18n(Astro.url)

const producer_name = Astro.url.searchParams.get('producer_name')
const delivery = Astro.url.searchParams.get('delivery')
const contract_value = parseInt(Astro.url.searchParams.get('contract_value') ?? '')
const earnings = parseInt(Astro.url.searchParams.get('earnings') ?? '')

import { format_date_time } from '@helpers/date'
import { number_thousand_separator } from '@helpers/numbers'

import Context from '@components/layout/Context.astro';
---

<Context>
    <h4>{producer_name}</h4>
    <span>{delivery ? t('delivered_at').replace('{date}', format_date_time(lang, delivery)) : t('unfinished')}</span>
    {contract_value > 0 && earnings > 0 &&
        <small>{number_thousand_separator(contract_value, lang)} ISK — <b class="[ text-green ]">+{number_thousand_separator(earnings, lang)} ISK</b></small>
    }
</Context>