---
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import type { CorporationObject, CorporationType, GroupStatus } from '@dtypes/layout_components'

const corporation_id = parseInt(Astro.url.searchParams.get('corporation_id'))
const corporation_name = Astro.url.searchParams.get('corporation_name')
const alliance_id = parseInt(Astro.url.searchParams.get('alliance_id'))
const alliance_name = Astro.url.searchParams.get('alliance_name')
const corporation_type = Astro.url.searchParams.get('corporation_type') as CorporationType
const status = Astro.url.searchParams.get('status') as GroupStatus
const message = Astro.url.searchParams.get('message')

const corporation:CorporationObject = {
    corporation_id: corporation_id,
    corporation_name: corporation_name,
    alliance_id: alliance_id,
    alliance_name: alliance_name,
    corporation_type: corporation_type,
    status: null
}

import Flexblock from '@components/compositions/Flexblock.astro';
import CorporationItem from '@components/blocks/CorporationItem.astro';
import Textarea from '@components/blocks/Textarea.astro';
import FlexInline from '@components/compositions/FlexInline.astro';
import Markdown from '@components/icons/buttons/Markdown.astro';
---

<Flexblock
    x-data={`{
        application_text: '',
        update_status() {
            confirm_dialog_hx.vals = JSON.stringify(this.application_text)
            confirm_dialog_set_accept_disable(!this.application_text)
        }
    }`}
    x-init="update_status"
    x-effect="update_status"
>
    <p>{message}</p>
    <CorporationItem corporation={corporation} />
    <Flexblock class="[ w-full ]" gap="var(--space-3xs)">
        <label for="description">{t('application_text')}</label>
        <Textarea id="description" x-model="application_text" rows="5" />
        <a href="https://www.markdownguide.org/" class="[ w-fit ]" target="_blank" rel="noreferrer noopener nofollow">
            <FlexInline gap='var(--space-3xs)'>
                <Markdown />
                <small>{t('markdown_support')}</small>
            </FlexInline>
        </a>
    </Flexblock>
</Flexblock>