---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

import Flexblock from '@components/compositions/Flexblock.astro';
import Textarea from '@components/blocks/Textarea.astro';
---

<Flexblock
    x-data={`{
        moon_information: '',
        update_status() {
            confirm_dialog_hx.vals = JSON.stringify(this.moon_information)
            confirm_dialog_set_accept_disable(!this.moon_information)
        }
    }`}
    x-init="update_status"
    x-effect="update_status"
>
    <p>{t('add_moon_dialog_text')}</p>
    <Flexblock class="[ w-full ]" gap="var(--space-3xs)">
        <label for="moon-information">{t('moon_information')}</label>
        <Textarea id="moon-information" x-model="moon_information" rows="5" />
        <small><a href="https://wiki.eveuniversity.org/Moon_mining#Performing_the_Activity" target="_blank" rel="nofollow noopener noreferrer">How to obtain the value to paste?</a></small>
    </Flexblock>
</Flexblock>