---
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import Flexblock from '@components/compositions/Flexblock.astro';
import PilotBadge from '@components/blocks/PilotBadge.astro';

const character_id = parseInt(Astro.url.searchParams.get('id'))
const character_name = Astro.url.searchParams.get('character_name')
const message = Astro.url.searchParams.get('message')
---

<Flexblock>
    <p>{message}</p>
    <PilotBadge character_id={character_id} character_name={character_name} />
</Flexblock>