---
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import Partial from '@layouts/Partial.astro';
import Flexblock from '@components/compositions/Flexblock.astro';
import CorporationItem from '@components/blocks/CorporationItem.astro';

import type { CorporationObject } from '@dtypes/layout_components'

const corporation_id = parseInt(Astro.url.searchParams.get('corporation_id'))
const corporation_name = Astro.url.searchParams.get('corporation_name')
const alliance_id = parseInt(Astro.url.searchParams.get('alliance_id'))
const alliance_name = Astro.url.searchParams.get('alliance_name')
const corporation_type = Astro.url.searchParams.get('corporation_type')
const status = Astro.url.searchParams.get('status')
const message = Astro.url.searchParams.get('message')

const corporation:CorporationObject = {
    corporation_id: corporation_id,
    corporation_name: corporation_name,
    alliance_id: alliance_id,
    alliance_name: alliance_name,
    corporation_type: corporation_type,
    status: status
}
---

<Flexblock>
    <p>{message}</p>
    <CorporationItem corporation={corporation} />
</Flexblock>