---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

import { prod_error_messages } from '@helpers/env'
import { HTTP_404_Not_Found } from '@helpers/http_responses'

import type { User } from '@dtypes/jwt'
import * as jose from 'jose'

const auth_token = Astro.cookies.has('auth_token') ? Astro.cookies.get('auth_token').value : false
const user:User | false = auth_token ? jose.decodeJwt(auth_token) as User : false

if (!user)
    return HTTP_404_Not_Found()

import type { FleetItem } from '@dtypes/layout_components'
import { fetch_fleets_auth, fetch_fleets } from '@helpers/fetching/fleets'

let fetch_fleets_error:string | false = false
let fleets:FleetItem[]

const upcoming = JSON.parse(Astro.url.searchParams.get('upcoming'))

try {
    fleets = auth_token ? await fetch_fleets_auth(auth_token as string, upcoming) : await fetch_fleets(upcoming)
    fleets.sort(function(a, b) {
        return new Date(a.start_time).getTime() - new Date(b.start_time).getTime();
    });
} catch (error) {
    fetch_fleets_error = prod_error_messages() ? t('fetch_fleets_error') : error.message
}

const FLEET_LIST_PARTIAL_URL = translatePath(`/partials/fleet_list_component?upcoming=${JSON.stringify(upcoming)}`)

const delay = parseInt(Astro.url.searchParams.get('delay'))

import FleetList from '@components/blocks/FleetList.astro';
import ErrorRefetch from '@components/blocks/ErrorRefetch.astro';
---

{fetch_fleets_error ?
    <ErrorRefetch
        args={{
            partial: FLEET_LIST_PARTIAL_URL,
            message: fetch_fleets_error,
            delay: delay,
        }}
    />
    :
    <div
        class="[ fleet-list-container ]"
        x-data={`{
            init() {
                fleets_count = ${fleets.length}
                tippy($el, tippy_options)
            }
        }`}
    >
        <FleetList
            fleets={fleets}
            history={!upcoming}
        />
    </div>
}