---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

import { marked } from 'marked';
import { renderer } from '@helpers/marked';

import InterContext from '@components/layout/InterContext.astro';
import Flexblock from '@components/compositions/Flexblock.astro';
import Wrapper from '@components/compositions/Wrapper.astro';
import Hotkeys from '@components/blocks/Hotkeys.astro'
---

<Wrapper
    padding_block='var(--component-padding-block)'
    padding_inline='var(--space-l-xl)'
    class="help-modal overflow-y-auto"
>
    <InterContext>
        <Hotkeys />
        
        <Flexblock>
            <h2>{t('contribute')}</h2>
            <p set:html={marked.parseInline(t('report_issues_text'), { renderer })} />
        </Flexblock>
    </InterContext>
</Wrapper>

<style lang="scss">
    .help-modal {
        max-height: min(750px, 88vh);
        height: 100%;
    }
</style>