---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import InterContext from '@components/layout/InterContext.astro';

import Flexblock from '@components/compositions/Flexblock.astro';
import Wrapper from '@components/compositions/Wrapper.astro';
import FlexInlineSiblings from '@components/compositions/FlexInlineSiblings.astro';

import Hotkeys from '@components/blocks/Hotkeys.astro'
import Markdown from '@components/blocks/Markdown.astro'
import Button from '@components/blocks/Button.astro'
---

<Wrapper
    padding_block='var(--component-padding-block)'
    padding_inline='var(--space-l-xl)'
    class="help-modal overflow-y-auto"
>
    <InterContext>
        <Hotkeys />
        
        <Flexblock>
            <h2>{t('contribute')}</h2>
            <Markdown
                markdown={t('report_issues_text')}
                inline={true}
            />
        </Flexblock>

        <Flexblock>
            <h2>{t('brand.page_title')}</h2>
            <FlexInlineSiblings
                min-shink-width='250px'
                shrinkable-sibbling='first'
            >
                <p>{t('brand.leading_text')}</p>
                <Button size='sm' href={translatePath('/brand/')}>{t('browse')}</Button>
            </FlexInlineSiblings>
        </Flexblock>
    </InterContext>
</Wrapper>

<style lang="scss">
    .help-modal {
        max-height: min(750px, 88vh);
        height: 100%;
    }
</style>