---
import { getLangFromUrl, useTranslations, } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import { marked } from 'marked';
import { renderer } from '@helpers/marked';

import InterContext from '@components/layout/InterContext.astro';
import Flexblock from '@components/compositions/Flexblock.astro';
import Wrapper from '@components/compositions/Wrapper.astro';
import Hotkeys from '@components/blocks/Hotkeys.astro'
---

<Wrapper
    padding_block='var(--component-padding-block)'
    padding_inline='var(--space-l-xl)'
>
    <InterContext>
        <Hotkeys />
        
        <Flexblock>
            <h2>{t('contribute')}</h2>
            <p set:html={marked.parseInline(t('report_issues_text'), { renderer })} />
        </Flexblock>
    </InterContext>
</Wrapper>