---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

import Flexblock from '@components/compositions/Flexblock.astro'

import MumbleIcon from '@components/icons/MumbleIcon.astro';

const username = Astro.url.searchParams.get('username')
const password = Astro.url.searchParams.get('password')
---

<Flexblock
    gap='var(--space-l)'
>
    <p>{t('mumble_credentials_dialog_text')}</p>

    <Flexblock
        gap='0'
        centered={true}
    >
        <div
            class="[ flex pb-[var(--space-s)] justify-center highlight ]"
        >
            <MumbleIcon />
        </div>

        <small class="[ highlight ]">{username}</small>
        <small>{password}</small>
    </Flexblock>
</Flexblock>