---
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import Flexblock from '@components/compositions/Flexblock.astro'

import MumbleIcon from '@components/icons/MumbleIcon.astro';

const username = Astro.url.searchParams.get('username')
const password = Astro.url.searchParams.get('password')
---

<Flexblock>
    <p>{t('mumble_credentials_dialog_text')}</p>
    
    <Flexblock
        class="[ highlight ]"
        centered={true}
    >
        <MumbleIcon />
    </Flexblock>

    <Flexblock
        gap='var(--space-3xs)'
        centered={true}
    >
        <small class="[ highlight ]">{username}</small>
        <small>{password}</small>
    </Flexblock>
</Flexblock>