---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

const title = Astro.url.searchParams.get('title')
const description = Astro.url.searchParams.get('description')
const tag = Astro.url.searchParams.get('tag')

import Context from '@components/layout/Context.astro';
import FlexInline from '@components/compositions/FlexInline.astro';

import Tag from '@components/blocks/Tag.astro';
import Markdown from '@components/blocks/Markdown.astro';
---

<Context>
    {title &&
        <FlexInline justification='space-between'>
            <h4>{t(title as any)}</h4>

            {tag &&
                <Tag text={t(tag as any)} />
            }
        </FlexInline>
    }
    {description &&
        <Markdown
            markdown={t(description as any)}
            inline={true}
            inline_element='span'
        />
    }
</Context>

<style lang="scss">
    span {
        text-wrap: pretty;
    }
</style>