---
import { number_thousand_separator } from '@helpers/numbers'

const producer_name = Astro.url.searchParams.get('producer_name')
const money = Astro.url.searchParams.get('money')

const show_money = money && !isNaN(parseInt(money))
const TitleElement = show_money ? 'h4' : 'span'

import Context from '@components/layout/Context.astro';
---

<Context>
    <TitleElement>{producer_name}</TitleElement>
    {show_money && <span>{number_thousand_separator(parseInt(money))} ISK</span>}
</Context>