---
import { get_item_icon } from '@helpers/eve_image_server'

const armor_icon = get_item_icon(43552, 32)
const shield_icon = get_item_icon(43555, 32)
---

<div class="ehp-links-icon">
    <img src={armor_icon} width="32" height="32" alt="" aria-hidden="true" />
    <img src={shield_icon} width="32" height="32" alt="" aria-hidden="true" />
</div>

<style>
    .ehp-links-icon {
        position: relative;
        width: 32px;
        height: 32px;
        flex-shrink: 0;
    }

    .ehp-links-icon img {
        position: absolute;
        inset: 0;
        display: block;
    }

    .ehp-links-icon img:first-child {
        clip-path: inset(0 50% 0 0);
    }

    .ehp-links-icon img:last-child {
        clip-path: inset(0 0 0 50%);
    }
</style>
