name: PR Check
on:
  pull_request:
    branches:
      - main
jobs:
  pr-check:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: backend
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pylint flake8
      - name: Lint with pylint
        run: |
          pylint .
      - name: Lint with flake8
        run: |
          flake8 .
      - name: Lint with black
        run: |
          pip install black
          black --check .
      - name: Run tests
        run: |
          pip install pipenv
          pipenv install --dev
          pipenv run python3 manage.py test
  frontend-check:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: backend
    steps:
      - uses: actions/checkout@v2
      - name: List files
        run: ls -l
